call-transcript-1eTyrzHSNEd4RsnS.json
{"updatedAt":"2025-12-23T10:23:35.640Z","createdAt":"2025-12-23T07:54:22.105Z","id":"1eTyrzHSNEd4RsnS","name":"call transcript","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"appointment-booking","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-496,32],"id":"a7c3b6cf-de34-46b2-803a-92f371745918","name":"Webhook","webhookId":"ffb23e2a-aceb-4a5b-8618-494b36b2ebc7"},{"parameters":{"promptType":"define","text":"=you are a intelligent text extractor who is expert in extracting details out of raw text \n\ninput - {{ $json.body.call.transcript }}\n\nyou have to take the text and provide me the name, email,phone number of the person \n\nalso the time, date and day of the appoitment ","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,0],"id":"9384bd29-3756-4db3-b261-bb9e32fe13b2","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[32,208],"id":"3f59f93f-93cc-4952-99ca-82093d53ee16","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"E31OBfVDmptvkvxc","name":"Ayushman's credentials"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b810bfe-0673-4237-a02d-f71a1ed22a38","leftValue":"={{ $json.body.event }}","rightValue":"=call_analyzed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,32],"id":"b8f021b3-35f9-4816-8c80-390b1fd1b79e","name":"If"},{"parameters":{"text":"={{ $json.output }}","attributes":{"attributes":[{"name":"name","description":"name "},{"name":"email","description":"email"},{"name":"phone number","type":"number","description":"phone number"},{"name":"day","description":"day"},{"name":"time","description":"time"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[368,0],"id":"8c5734dd-af08-44a5-bea9-a6150fdb1fb4","name":"Information Extractor"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[384,208],"id":"9e493527-3876-4b57-90cc-ab9ee8ecd403","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"E31OBfVDmptvkvxc","name":"Ayushman's credentials"}}},{"parameters":{"sendTo":"={{ $json.output.email }}","subject":"Appointment confirmation","message":"=hello Mr. {{ $json.output.name }}\n\nThankyou for filling the enquiry form and connecting to our AI Agent AVA who booked an apponintment for you on this {{ $json.output.day }}\nfrom {{ $json.output.time }} \n\nthankyou ","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[784,0],"id":"a080e4bd-6792-4271-83d6-efaf8aa3ce84","name":"Gmail","webhookId":"0dcc403e-b344-4c54-819e-78622f9d289f","credentials":{"gmailOAuth2":{"id":"w0dmlgg1ASTZXqlu","name":"Ayushman's credentials"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"workflows.wangoes.com","x-real-ip":"100.20.5.228","x-forwarded-for":"100.20.5.228","x-forwarded-proto":"https","connection":"upgrade","content-length":"83941","accept":"application/json, text/plain, */*","content-type":"application/json","x-retell-signature":"v=1765783683548,d=34908345c49a581ae7ffeaaf3e075af7f02184811c46a9594ede2657fb235e28","user-agent":"axios/1.13.2","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":{"event":"call_ended","call":{"call_id":"call_e5d35f3df22e38baf1057354a93","call_type":"phone_call","agent_id":"agent_fe0e69c17678e502781dbabfbd","agent_version":1,"agent_name":"Wangoes_support_&_booking","retell_llm_dynamic_variables":{"customer_name":"Ayushman Sharma","customer_email":"ayushman.wangoes@gmail.com","subject":"service related"},"custom_sip_headers":{"X-Custom-Header":"Custom Value","X-RetellAI-Direction":"Outbound","X-RetellAI-CallId":"call_e5d35f3df22e38baf1057354a93","Route":"<sip:18.98.16.120;lr>"},"call_status":"ended","start_timestamp":1765783453353,"end_timestamp":1765783681377,"duration_ms":228024,"transcript":"User: Call will be recorded.\nAgent: Hello, this is \nUser: Hello.\nAgent: Jarvis from Wangoes AI Automation Services. May I confirm that I’m speaking with Ayushman sharma?\nUser: Yeah. You are speaking with me?\nAgent: Great, thank you. I’m here to assist you with scheduling an appointment and answering any questions you may have about our services.\n\nAyushman, you recently showed interest in our automation solutions. I’d be happy to help you book a consultation with one of our specialists and provide any information you need before that. Would you like to begin with some quick details or check appointment availability?\nUser: So would you like me to tell the address of your office in India?\nAgent: I can help with that.Our India office address is:  \nWangoes Technologies Pvt Ltd  \n76, PU-4, Behind C21 Mall, Indore, Madhya Pradesh 452010, India  \n\nWould you like any other details, like contact number or office timings?\nUser: Uh, no. That's fine. So I would like to book an appointment\nAgent: Of course, I can help with that.\n\nTo book your appointment, please share:\n- Your preferred date and time (and your time zone, e.g., IST)\n- Your full name (as you want it on the booking)\n- Your email address  \n- Your preferred contact number (with country code)\nUser: So what are the time slots you are available?\nAgent: Let \nAgent: me quickly check our latest schedule for the coming days so I can share the available time slots with you.Here are the available time slots (all in IST):\n\n- Monday (15 Dec): 3:00–3:30 PM, 3:45–5:00 PM  \n- Tuesday (16 Dec): 9:00–9:30 AM, 9:45 AM–5:00 PM  \n- Wednesday (17 Dec): \nUser: Oh, yeah. Tuesday was fine for me.\nAgent: Perfect, we can book it for Tuesday.\n\nWhat time on Tuesday works best for you? The available range is:\n- 9:00–9:30 AM  \n- 9:45 AM–5:00 PM (any 30–60 min slot)\n\nAlso, please confirm:\n- Your full name  \n- Email address  \n- Contact number (with country code)\nUser: So on Tuesday, nine forty five PM will be fine.\nUser: book with.\nAgent: Got it, you’d like to book for Tuesday at 9:45 PM.\n\nThat time isn’t in our available slots (we’re available on Tuesday from 9:00 AM to 5:00 PM IST).Would you like to choose a time between 9:45 AM and 5:00 PM instead—for example:\n\n- 9:45 AM  \n- 11:00 AM  \n- 2:00 PM  \n- 4:00 PM  \n\nAlso, please share:\n- Full name  \n- Email address  \n- Contact number (with country code)\nUser: Okay. Okay. Two PM is fine, uh, to have a meeting.\nAgent: Great, we’ll schedule it for Tuesday at 2:00 PM IST.\n\nTo complete the booking, please confirm:\n- Your full name  \n- Your email address  \n- Your contact number (with country code)\nUser: So my full name is, uh, Aishman Sharma.\nAgent: Thank you, \nUser: My \nAgent: Ayushman \nUser: email address is Aishman Sharma two thousand three at the rate gmail dot com. And my contact number is zero five zero four zero six zero seven zero eight.\nAgent: I’ll go ahead and book your consultation for Tuesday at 2:00 PM IST \nAgent: with the details you provided.Your appointment has been successfully scheduled for Tuesday, 16th December at 2:00 PM IST.\n\nA confirmation email will be sent shortly to: aishmansharma2003@gmail.com.\n\nThank you, Ayushman. If you have any questions before the meeting, you can reply to the confirmation email or contact our sales team at +91-9243082408. Have a great day.\n","transcript_object":[{"role":"user","content":"Call will be recorded.","words":[{"word":"Call ","start":7.053999999999999,"end":7.614},{"word":"will ","start":7.614,"end":7.854000399999999},{"word":"be ","start":7.854000399999999,"end":7.934000299999999},{"word":"recorded.","start":7.934000299999999,"end":8.334}]},{"role":"agent","content":"Hello, this is ","words":[{"word":"Hello, ","start":10.331,"end":10.645},{"word":"this ","start":10.645,"end":10.795},{"word":"is ","start":10.795,"end":10.9}],"metadata":{"response_id":2}},{"role":"user","content":"Hello.","words":[{"word":"Hello.","start":10.943999999999999,"end":11.263999}]},{"role":"agent","content":"Jarvis from Wangoes AI Automation Services. May I confirm that I’m speaking with Ayushman sharma?","words":[{"word":"Jarvis ","start":10.9,"end":11.225},{"word":"from ","start":11.225,"end":11.515},{"word":"Wangoes ","start":11.515,"end":11.922},{"word":"AI ","start":11.922,"end":12.177},{"word":"Automation ","start":12.177,"end":12.641},{"word":"Services.","start":12.641,"end":13.326},{"word":" May ","start":13.3615,"end":13.5705},{"word":"I ","start":13.5705,"end":13.6515},{"word":"confirm ","start":13.6515,"end":14.0235},{"word":"that ","start":14.0235,"end":14.1505},{"word":"I’m ","start":14.1505,"end":14.3015},{"word":"speaking ","start":14.3015,"end":14.6035},{"word":"with ","start":14.6035,"end":14.7545},{"word":"Ayushman ","start":14.7545,"end":15.2075},{"word":"sharma?","start":15.2075,"end":15.7415}],"metadata":{"response_id":2}},{"role":"user","content":"Yeah. You are speaking with me?","words":[{"word":"Yeah. ","start":17.584,"end":17.984},{"word":"You ","start":17.984,"end":18.144000000000002},{"word":"are ","start":18.144000000000002,"end":18.224},{"word":"speaking ","start":18.224,"end":18.544},{"word":"with ","start":18.544,"end":18.704},{"word":"me?","start":18.704,"end":18.864}]},{"role":"agent","content":"Great, thank you. I’m here to assist you with scheduling an appointment and answering any questions you may have about our services.\n\nAyushman, you recently showed interest in our automation solutions. I’d be happy to help you book a consultation with one of our specialists and provide any information you need before that. Would you like to begin with some quick details or check appointment availability?","words":[{"word":"Great, ","start":20.466,"end":20.722},{"word":"thank ","start":20.722,"end":20.942},{"word":"you.","start":20.942,"end":21.325},{"word":" I’m ","start":21.37125,"end":21.58025},{"word":"here ","start":21.58025,"end":21.74325},{"word":"to ","start":21.74325,"end":21.84725},{"word":"assist ","start":21.84725,"end":22.14925},{"word":"you ","start":22.14925,"end":22.27725},{"word":"with ","start":22.27725,"end":22.42825},{"word":"scheduling ","start":22.42825,"end":22.82325},{"word":"an ","start":22.82325,"end":22.90425},{"word":"appointment ","start":22.90425,"end":23.39225},{"word":"and ","start":23.39225,"end":23.53125},{"word":"answering ","start":23.53125,"end":23.89125},{"word":"any ","start":23.89125,"end":24.08825},{"word":"questions ","start":24.08825,"end":24.51825},{"word":"you ","start":24.51825,"end":24.65725},{"word":"may ","start":24.65725,"end":24.83125},{"word":"have ","start":24.83125,"end":25.05225},{"word":"about ","start":25.05225,"end":25.28425},{"word":"our ","start":25.28425,"end":25.40025},{"word":"services.","start":25.40025,"end":26.15525},{"word":"\n\nAyushman, ","start":26.201,"end":26.747},{"word":"you ","start":26.747,"end":27.026},{"word":"recently ","start":27.026,"end":27.479},{"word":"showed ","start":27.479,"end":27.746},{"word":"interest ","start":27.746,"end":28.152},{"word":"in ","start":28.152,"end":28.291},{"word":"our ","start":28.291,"end":28.489},{"word":"automation ","start":28.489,"end":29.162},{"word":"solutions.","start":29.162,"end":29.963},{"word":" I’d ","start":29.975083251953127,"end":30.207083251953126},{"word":"be ","start":30.207083251953126,"end":30.335083251953126},{"word":"happy ","start":30.335083251953126,"end":30.636083251953124},{"word":"to ","start":30.636083251953124,"end":30.741083251953125},{"word":"help ","start":30.741083251953125,"end":30.973083251953124},{"word":"you ","start":30.973083251953124,"end":31.205083251953123},{"word":"book ","start":31.205083251953123,"end":31.472083251953126},{"word":"a ","start":31.472083251953126,"end":31.565083251953126},{"word":"consultation ","start":31.565083251953126,"end":32.26208325195312},{"word":"with ","start":32.26208325195312,"end":32.44808325195312},{"word":"one ","start":32.44808325195312,"end":32.59808325195313},{"word":"of ","start":32.59808325195313,"end":32.68008325195313},{"word":"our ","start":32.68008325195313,"end":32.807083251953124},{"word":"specialists ","start":32.807083251953124,"end":33.53908325195312},{"word":"and ","start":33.53908325195312,"end":33.934083251953126},{"word":"provide ","start":33.934083251953126,"end":34.410083251953125},{"word":"any ","start":34.410083251953125,"end":34.688083251953124},{"word":"information ","start":34.688083251953124,"end":35.26908325195313},{"word":"you ","start":35.26908325195313,"end":35.39608325195312},{"word":"need ","start":35.39608325195312,"end":35.64008325195312},{"word":"before ","start":35.64008325195312,"end":35.965083251953125},{"word":"that.","start":35.965083251953125,"end":36.37208325195313},{"word":" Would ","start":36.417791748046874,"end":36.673791748046874},{"word":"you ","start":36.673791748046874,"end":36.81279174804688},{"word":"like ","start":36.81279174804688,"end":36.986791748046876},{"word":"to ","start":36.986791748046876,"end":37.09179174804687},{"word":"begin ","start":37.09179174804687,"end":37.38179174804687},{"word":"with ","start":37.38179174804687,"end":37.55579174804687},{"word":"some ","start":37.55579174804687,"end":37.78779174804688},{"word":"quick ","start":37.78779174804688,"end":38.066791748046874},{"word":"details ","start":38.066791748046874,"end":38.542791748046874},{"word":"or ","start":38.542791748046874,"end":38.71679174804687},{"word":"check ","start":38.71679174804687,"end":38.983791748046876},{"word":"appointment ","start":38.983791748046876,"end":39.37879174804687},{"word":"availability?","start":39.37879174804687,"end":40.365791748046874}],"metadata":{"response_id":4}},{"role":"user","content":"So would you like me to tell the address of your office in India?","words":[{"word":"So ","start":42.514002,"end":43.074},{"word":"would ","start":43.074,"end":43.394},{"word":"you ","start":43.394,"end":43.553999999999995},{"word":"like ","start":43.553999999999995,"end":43.873999999999995},{"word":"me ","start":43.873999999999995,"end":44.034},{"word":"to ","start":44.034,"end":44.274},{"word":"tell ","start":44.274,"end":44.594},{"word":"the ","start":44.594,"end":44.754},{"word":"address ","start":44.754,"end":45.074},{"word":"of ","start":45.074,"end":45.233999999999995},{"word":"your ","start":45.233999999999995,"end":45.394},{"word":"office ","start":45.394,"end":45.714},{"word":"in ","start":45.714,"end":45.873999999999995},{"word":"India?","start":45.873999999999995,"end":46.114}]},{"role":"agent","content":"I can help with that.Our India office address is:  \nWangoes Technologies Pvt Ltd  \n76, PU-4, Behind C21 Mall, Indore, Madhya Pradesh 452010, India  \n\nWould you like any other details, like contact number or office timings?","words":[{"word":"I ","start":47.562,"end":47.69},{"word":"can ","start":47.69,"end":47.829},{"word":"help ","start":47.829,"end":47.991},{"word":"with ","start":47.991,"end":48.142},{"word":"that.","start":48.142,"end":48.572},{"word":"Our ","start":48.607,"end":48.816},{"word":"India ","start":48.816,"end":49.083},{"word":"office ","start":49.083,"end":49.385},{"word":"address ","start":49.385,"end":49.768},{"word":"is: ","start":49.768,"end":50.105},{"word":" \nWangoes ","start":50.105,"end":50.557},{"word":"Technologies ","start":50.557,"end":51.358},{"word":"Pvt ","start":51.358,"end":51.974},{"word":"Ltd ","start":51.974,"end":52.519},{"word":" \n76, ","start":52.519,"end":52.891},{"word":"PU-4, ","start":52.891,"end":53.216},{"word":"Behind ","start":53.216,"end":54.087},{"word":"C21 ","start":54.087,"end":54.493},{"word":"Mall, ","start":54.493,"end":54.656},{"word":"Indore, ","start":54.656,"end":54.911},{"word":"Madhya ","start":54.911,"end":55.074},{"word":"Pradesh ","start":55.074,"end":55.584},{"word":"452010, ","start":55.584,"end":56.095},{"word":"India ","start":56.095,"end":56.571},{"word":" \n\nWould ","start":56.571,"end":57.279},{"word":"you ","start":57.279,"end":57.605},{"word":"like ","start":57.605,"end":57.906},{"word":"any ","start":57.906,"end":58.127},{"word":"other ","start":58.127,"end":58.429},{"word":"details, ","start":58.429,"end":58.615},{"word":"like ","start":58.615,"end":59.091},{"word":"contact ","start":59.091,"end":59.764},{"word":"number ","start":59.764,"end":59.985},{"word":"or ","start":59.985,"end":60.089},{"word":"office ","start":60.089,"end":60.275},{"word":"timings?","start":60.275,"end":60.437}],"metadata":{"response_id":5}},{"role":"user","content":"Uh, no. That's fine. So I would like to book an appointment","words":[{"word":"Uh, ","start":65.214,"end":65.614},{"word":"no. ","start":65.614,"end":65.93400000000001},{"word":"That's ","start":65.93400000000001,"end":66.174},{"word":"fine. ","start":66.174,"end":66.41399600000001},{"word":"So ","start":66.41399600000001,"end":66.65399400000001},{"word":"I ","start":66.65399400000001,"end":66.733996},{"word":"would ","start":66.733996,"end":66.894},{"word":"like ","start":66.894,"end":67.053995},{"word":"to ","start":67.053995,"end":67.214},{"word":"book ","start":67.214,"end":67.45400000000001},{"word":"an ","start":67.45400000000001,"end":67.693995},{"word":"appointment","start":67.693995,"end":67.93400000000001}]},{"role":"agent","content":"Of course, I can help with that.\n\nTo book your appointment, please share:\n- Your preferred date and time (and your time zone, e.g., IST)\n- Your full name (as you want it on the booking)\n- Your email address  \n- Your preferred contact number (with country code)","words":[{"word":"Of ","start":70.153,"end":70.269},{"word":"course, ","start":70.269,"end":70.501},{"word":"I ","start":70.501,"end":70.582},{"word":"can ","start":70.582,"end":70.745},{"word":"help ","start":70.745,"end":70.919},{"word":"with ","start":70.919,"end":71.07},{"word":"that.","start":71.07,"end":71.569},{"word":"\n\nTo ","start":71.61508325195312,"end":71.79008325195312},{"word":"book ","start":71.79008325195312,"end":71.98708325195312},{"word":"your ","start":71.98708325195312,"end":72.12608325195312},{"word":"appointment, ","start":72.12608325195312,"end":72.62608325195312},{"word":"please ","start":72.62608325195312,"end":73.29908325195312},{"word":"share:\n","start":73.29908325195312,"end":73.98408325195312},{"word":"- ","start":73.98408325195312,"end":74.21608325195312},{"word":"Your ","start":74.21608325195312,"end":74.57608325195312},{"word":"preferred ","start":74.57608325195312,"end":74.83108325195313},{"word":"date ","start":74.83108325195313,"end":75.01708325195312},{"word":"and ","start":75.01708325195312,"end":75.55108325195313},{"word":"time ","start":75.55108325195313,"end":76.00408325195312},{"word":"(and ","start":76.00408325195312,"end":76.17808325195313},{"word":"your ","start":76.17808325195313,"end":76.44508325195312},{"word":"time ","start":76.44508325195312,"end":76.70108325195312},{"word":"zone, ","start":76.70108325195312,"end":76.87508325195313},{"word":"e.g., ","start":76.87508325195313,"end":77.40908325195312},{"word":"IST)\n","start":77.40908325195312,"end":78.47708325195312},{"word":"- ","start":78.47708325195312,"end":78.67408325195312},{"word":"Your ","start":78.67408325195312,"end":78.90708325195313},{"word":"full ","start":78.90708325195313,"end":79.24308325195312},{"word":"name ","start":79.24308325195312,"end":79.49908325195312},{"word":"(as ","start":79.49908325195312,"end":79.61508325195312},{"word":"you ","start":79.61508325195312,"end":79.77708325195313},{"word":"want ","start":79.77708325195313,"end":79.87008325195312},{"word":"it ","start":79.87008325195312,"end":79.96308325195312},{"word":"on ","start":79.96308325195312,"end":80.06808325195313},{"word":"the ","start":80.06808325195313,"end":80.63608325195312},{"word":"booking)\n","start":80.63608325195312,"end":80.84508325195313},{"word":"- ","start":80.84508325195313,"end":81.12408325195312},{"word":"Your ","start":81.12408325195312,"end":81.64608325195313},{"word":"email ","start":81.64608325195313,"end":81.82108325195313},{"word":"address ","start":81.82108325195313,"end":82.15708325195313},{"word":" \n- ","start":82.15708325195313,"end":82.56408325195312},{"word":"Your ","start":82.56408325195312,"end":82.93508325195313},{"word":"preferred ","start":82.93508325195313,"end":83.26008325195312},{"word":"contact ","start":83.26008325195312,"end":83.62008325195312},{"word":"number ","start":83.62008325195312,"end":84.20108325195312},{"word":"(with ","start":84.20075,"end":84.20075},{"word":"country ","start":84.20075,"end":84.20075},{"word":"code)","start":84.20075,"end":84.20075}],"metadata":{"response_id":8}},{"role":"user","content":"So what are the time slots you are available?","words":[{"word":"So ","start":86.70400500000001,"end":87.424},{"word":"what ","start":87.664,"end":87.90400000000001},{"word":"are ","start":87.90400000000001,"end":88.06400000000001},{"word":"the ","start":88.06400000000001,"end":88.464},{"word":"time ","start":88.464,"end":88.784},{"word":"slots ","start":88.784,"end":89.024004},{"word":"you ","start":89.024004,"end":89.26400000000001},{"word":"are ","start":89.26400000000001,"end":89.424},{"word":"available?","start":89.424,"end":89.744}]},{"role":"agent","content":"Let ","words":[{"word":"Let ","start":91.665,"end":91.839}],"metadata":{"response_id":9}},{"role":"agent","content":"me quickly check our latest schedule for the coming days so I can share the available time slots with you.Here are the available time slots (all in IST):\n\n- Monday (15 Dec): 3:00–3:30 PM, 3:45–5:00 PM  \n- Tuesday (16 Dec): 9:00–9:30 AM, 9:45 AM–5:00 PM  \n- Wednesday (17 Dec): ","words":[{"word":"me ","start":91.839,"end":91.932},{"word":"quickly ","start":91.932,"end":92.246},{"word":"check ","start":92.246,"end":92.489},{"word":"our ","start":92.489,"end":92.652},{"word":"latest ","start":92.652,"end":92.919},{"word":"schedule ","start":92.919,"end":93.314},{"word":"for ","start":93.314,"end":93.43},{"word":"the ","start":93.43,"end":93.523},{"word":"coming ","start":93.523,"end":93.801},{"word":"days ","start":93.801,"end":94.324},{"word":"so ","start":94.324,"end":94.521},{"word":"I ","start":94.521,"end":94.602},{"word":"can ","start":94.602,"end":94.8},{"word":"share ","start":94.8,"end":95.09},{"word":"the ","start":95.09,"end":95.195},{"word":"available ","start":95.195,"end":95.578},{"word":"time ","start":95.578,"end":95.821},{"word":"slots ","start":95.821,"end":96.123},{"word":"with ","start":96.123,"end":96.309},{"word":"you.","start":96.309,"end":96.657},{"word":"Here ","start":96.70341674804688,"end":96.93641674804688},{"word":"are ","start":96.93641674804688,"end":97.05241674804688},{"word":"the ","start":97.05241674804688,"end":97.14541674804687},{"word":"available ","start":97.14541674804687,"end":97.58641674804687},{"word":"time ","start":97.58641674804687,"end":97.83041674804687},{"word":"slots ","start":97.83041674804687,"end":98.37541674804687},{"word":"(all ","start":98.37541674804687,"end":98.78241674804687},{"word":"in ","start":98.78241674804687,"end":99.03741674804688},{"word":"IST):\n","start":99.03741674804688,"end":100.04741674804687},{"word":"\n- ","start":100.04741674804687,"end":100.63941674804687},{"word":"Monday ","start":100.63941674804687,"end":101.16241674804688},{"word":"(15 ","start":101.16241674804688,"end":101.70741674804688},{"word":"Dec): ","start":101.70741674804688,"end":101.80041674804687},{"word":"3:00–3:30 ","start":101.80041674804687,"end":102.86841674804687},{"word":"PM, ","start":102.86841674804687,"end":103.18241674804688},{"word":"3:45–5:00 ","start":103.18241674804688,"end":104.50541674804687},{"word":"PM ","start":104.50541674804687,"end":104.78441674804688},{"word":" \n- ","start":104.78441674804688,"end":105.08641674804687},{"word":"Tuesday ","start":105.08641674804687,"end":105.74841674804688},{"word":"(16 ","start":105.74841674804688,"end":106.06141674804688},{"word":"Dec): ","start":106.06141674804688,"end":106.34041674804688},{"word":"9:00–9:30 ","start":106.34041674804688,"end":106.59541674804687},{"word":"AM, ","start":106.59541674804687,"end":106.82741674804687},{"word":"9:45 ","start":106.82741674804687,"end":107.08341674804687},{"word":"AM–5:00 ","start":107.08341674804687,"end":107.75641674804687},{"word":"PM ","start":107.75641674804687,"end":108.33741674804688},{"word":" \n- ","start":108.33741674804688,"end":108.83641674804687},{"word":"Wednesday ","start":108.83641674804687,"end":108.92941674804688},{"word":"(17 ","start":108.92941674804688,"end":109.83441674804688},{"word":"Dec): ","start":109.83441674804688,"end":110.04341674804688}],"metadata":{"response_id":9}},{"role":"user","content":"Oh, yeah. Tuesday was fine for me.","words":[{"word":"Oh, ","start":109.76400000000001,"end":110.164},{"word":"yeah. ","start":110.164,"end":110.48400000000001},{"word":"Tuesday ","start":110.48400000000001,"end":110.964},{"word":"was ","start":110.964,"end":111.20400000000001},{"word":"fine ","start":111.20400000000001,"end":111.444},{"word":"for ","start":111.444,"end":111.68400000000001},{"word":"me.","start":111.68400000000001,"end":111.844004}]},{"role":"agent","content":"Perfect, we can book it for Tuesday.\n\nWhat time on Tuesday works best for you? The available range is:\n- 9:00–9:30 AM  \n- 9:45 AM–5:00 PM (any 30–60 min slot)\n\nAlso, please confirm:\n- Your full name  \n- Email address  \n- Contact number (with country code)","words":[{"word":"Perfect, ","start":113.44,"end":113.8},{"word":"we ","start":113.8,"end":113.904},{"word":"can ","start":113.904,"end":114.055},{"word":"book ","start":114.055,"end":114.241},{"word":"it ","start":114.241,"end":114.334},{"word":"for ","start":114.334,"end":114.462},{"word":"Tuesday.\n","start":114.462,"end":115.135},{"word":"\n","start":115.135,"end":115.13516674804687},{"word":"What ","start":115.18116674804688,"end":115.41416674804688},{"word":"time ","start":115.41416674804688,"end":115.61116674804687},{"word":"on ","start":115.61116674804687,"end":115.72716674804687},{"word":"Tuesday ","start":115.72716674804687,"end":116.06416674804687},{"word":"works ","start":116.06416674804687,"end":116.27316674804688},{"word":"best ","start":116.27316674804688,"end":116.47016674804688},{"word":"for ","start":116.47016674804688,"end":116.60916674804687},{"word":"you?","start":116.60916674804687,"end":116.99316674804687},{"word":" The ","start":117.00475,"end":117.16675},{"word":"available ","start":117.16675,"end":117.56175},{"word":"range ","start":117.56175,"end":117.81675},{"word":"is:\n","start":117.81675,"end":117.94475},{"word":"- ","start":117.94475,"end":118.11875},{"word":"9:00–9:30 ","start":118.11875,"end":118.49075},{"word":"AM ","start":118.49075,"end":118.67575},{"word":" \n- ","start":118.67575,"end":118.96675},{"word":"9:45 ","start":118.96675,"end":119.38475},{"word":"AM–5:00 ","start":119.38475,"end":119.59375},{"word":"PM ","start":119.59375,"end":119.83675},{"word":"(any ","start":119.83675,"end":120.09275},{"word":"30–60 ","start":120.09275,"end":120.38275},{"word":"min ","start":120.38275,"end":120.66175},{"word":"slot)\n","start":120.66175,"end":121.19575},{"word":"\nAlso, ","start":121.19575,"end":121.65975},{"word":"please ","start":121.65975,"end":121.92675},{"word":"confirm:\n","start":121.92675,"end":122.20575},{"word":"- ","start":122.20575,"end":122.44975},{"word":"Your ","start":122.44975,"end":123.02975},{"word":"full ","start":123.02975,"end":123.72675},{"word":"name ","start":123.72675,"end":124.00475},{"word":" \n- ","start":124.00475,"end":124.45775},{"word":"Email ","start":124.45775,"end":124.62075},{"word":"address ","start":124.62075,"end":124.81775},{"word":" \n- ","start":124.81775,"end":125.03875},{"word":"Contact ","start":125.03875,"end":125.38675},{"word":"number ","start":125.38675,"end":125.76975},{"word":"(with ","start":125.76975,"end":126.24575},{"word":"country ","start":126.24575,"end":126.57075},{"word":"code)","start":126.57075,"end":126.82675}],"metadata":{"response_id":11}},{"role":"user","content":"So on Tuesday, nine forty five PM will be fine.","words":[{"word":"So ","start":130.06401,"end":130.70400999999998},{"word":"on ","start":130.864,"end":131.10399999999998},{"word":"Tuesday, ","start":131.10399999999998,"end":131.504},{"word":"nine ","start":132.17399999999998,"end":132.41398999999998},{"word":"forty ","start":132.41398999999998,"end":132.73399999999998},{"word":"five ","start":132.73399999999998,"end":132.89399999999998},{"word":"PM ","start":132.89399999999998,"end":133.21399},{"word":"will ","start":133.21399,"end":133.45399999999998},{"word":"be ","start":133.45399999999998,"end":133.69398999999999},{"word":"fine.","start":133.69398999999999,"end":133.934}]},{"role":"user","content":"book with.","words":[{"word":"book ","start":135.134,"end":135.37401},{"word":"with.","start":135.37401,"end":135.534}]},{"role":"agent","content":"Got it, you’d like to book for Tuesday at 9:45 PM.\n\nThat time isn’t in our available slots (we’re available on Tuesday from 9:00 AM to 5:00 PM IST).Would you like to choose a time between 9:45 AM and 5:00 PM instead—for example:\n\n- 9:45 AM  \n- 11:00 AM  \n- 2:00 PM  \n- 4:00 PM  \n\nAlso, please share:\n- Full name  \n- Email address  \n- Contact number (with country code)","words":[{"word":"Got ","start":137.73,"end":137.95},{"word":"it, ","start":137.95,"end":138.043},{"word":"you’d ","start":138.043,"end":138.206},{"word":"like ","start":138.206,"end":138.357},{"word":"to ","start":138.357,"end":138.438},{"word":"book ","start":138.438,"end":138.589},{"word":"for ","start":138.589,"end":138.705},{"word":"Tuesday ","start":138.705,"end":139.123},{"word":"at ","start":139.123,"end":139.32},{"word":"9:45 ","start":139.32,"end":139.541},{"word":"PM.\n","start":139.541,"end":139.785},{"word":"\n","start":139.785,"end":140.028},{"word":"That ","start":140.6665832519531,"end":140.93358325195314},{"word":"time ","start":140.93358325195314,"end":141.29358325195312},{"word":"isn’t ","start":141.29358325195312,"end":141.6185832519531},{"word":"in ","start":141.6185832519531,"end":141.76958325195312},{"word":"our ","start":141.76958325195312,"end":141.90958325195314},{"word":"available ","start":141.90958325195314,"end":142.3505832519531},{"word":"slots ","start":142.3505832519531,"end":142.89658325195313},{"word":"(we’re ","start":142.89658325195313,"end":143.45358325195312},{"word":"available ","start":143.45358325195312,"end":143.94058325195311},{"word":"on ","start":143.94058325195311,"end":144.05758325195313},{"word":"Tuesday ","start":144.05758325195313,"end":144.45158325195314},{"word":"from ","start":144.45158325195314,"end":144.63758325195312},{"word":"9:00 ","start":144.63758325195312,"end":144.88158325195312},{"word":"AM ","start":144.88158325195312,"end":145.1485832519531},{"word":"to ","start":145.1485832519531,"end":145.26458325195313},{"word":"5:00 ","start":145.26458325195313,"end":145.50858325195313},{"word":"PM ","start":145.50858325195313,"end":145.87958325195314},{"word":"IST).","start":145.87958325195314,"end":146.7975832519531},{"word":"Would ","start":146.82008325195312,"end":147.01808325195313},{"word":"you ","start":147.01808325195313,"end":147.1100832519531},{"word":"like ","start":147.1100832519531,"end":147.28508325195313},{"word":"to ","start":147.28508325195313,"end":147.37708325195314},{"word":"choose ","start":147.37708325195314,"end":147.63308325195314},{"word":"a ","start":147.63308325195314,"end":147.70308325195313},{"word":"time ","start":147.70308325195313,"end":147.91208325195313},{"word":"between ","start":147.91208325195313,"end":148.22508325195312},{"word":"9:45 ","start":148.22508325195312,"end":148.46908325195312},{"word":"AM ","start":148.46908325195312,"end":148.72408325195312},{"word":"and ","start":148.72408325195312,"end":148.96808325195312},{"word":"5:00 ","start":148.96808325195312,"end":149.17708325195312},{"word":"PM ","start":149.17708325195312,"end":149.30508325195314},{"word":"instead—for ","start":149.30508325195314,"end":149.56008325195313},{"word":"example:\n","start":149.56008325195313,"end":149.80408325195313},{"word":"\n- ","start":149.80408325195313,"end":150.35008325195312},{"word":"9:45 ","start":150.35008325195312,"end":150.76808325195313},{"word":"AM ","start":150.76808325195313,"end":150.97708325195313},{"word":" \n- ","start":150.97708325195313,"end":151.19708325195313},{"word":"11:00 ","start":151.19708325195313,"end":151.42908325195313},{"word":"AM ","start":151.42908325195313,"end":151.72008325195313},{"word":" \n- ","start":151.72008325195313,"end":152.04508325195312},{"word":"2:00 ","start":152.04508325195312,"end":152.26508325195311},{"word":"PM ","start":152.26508325195311,"end":152.45108325195312},{"word":" \n- ","start":152.45108325195312,"end":152.70608325195312},{"word":"4:00 ","start":152.70608325195312,"end":152.91508325195312},{"word":"PM ","start":152.91508325195312,"end":153.64708325195312},{"word":" \n\nAlso, ","start":153.64708325195312,"end":154.05308325195313},{"word":"please ","start":154.05308325195313,"end":154.27408325195313},{"word":"share:\n","start":154.27408325195313,"end":154.54108325195313},{"word":"- ","start":154.54108325195313,"end":154.76108325195312},{"word":"Full ","start":154.76108325195312,"end":154.98208325195313},{"word":"name ","start":154.98208325195313,"end":155.26108325195312},{"word":" \n- ","start":155.26108325195312,"end":155.56308325195312},{"word":"Email ","start":155.56308325195312,"end":155.92208325195313},{"word":"address ","start":155.92208325195313,"end":156.27108325195312},{"word":" \n- ","start":156.27108325195312,"end":156.60708325195313},{"word":"Contact ","start":156.60708325195313,"end":156.89808325195312},{"word":"number ","start":156.89808325195312,"end":157.38508325195312},{"word":"(with ","start":157.385375,"end":157.385375},{"word":"country ","start":157.385375,"end":157.385375},{"word":"code)","start":157.385375,"end":157.385375}],"metadata":{"response_id":13}},{"role":"user","content":"Okay. Okay. Two PM is fine, uh, to have a meeting.","words":[{"word":"Okay. ","start":159.20399999999998,"end":159.76399999999998},{"word":"Okay. ","start":159.76399999999998,"end":160.004},{"word":"Two ","start":160.004,"end":160.084},{"word":"PM ","start":160.084,"end":160.404},{"word":"is ","start":160.404,"end":160.64399999999998},{"word":"fine, ","start":160.64399999999998,"end":161.124},{"word":"uh, ","start":161.124,"end":161.364},{"word":"to ","start":161.364,"end":161.76399999999998},{"word":"have ","start":161.76399999999998,"end":162.08399},{"word":"a ","start":162.08399,"end":162.24399},{"word":"meeting.","start":162.24399,"end":162.404}]},{"role":"agent","content":"Great, we’ll schedule it for Tuesday at 2:00 PM IST.\n\nTo complete the booking, please confirm:\n- Your full name  \n- Your email address  \n- Your contact number (with country code)","words":[{"word":"Great, ","start":164.288,"end":164.567},{"word":"we’ll ","start":164.567,"end":164.776},{"word":"schedule ","start":164.776,"end":165.112},{"word":"it ","start":165.112,"end":165.217},{"word":"for ","start":165.217,"end":165.356},{"word":"Tuesday ","start":165.356,"end":165.763},{"word":"at ","start":165.763,"end":165.855},{"word":"2:00 ","start":165.855,"end":166.076},{"word":"PM ","start":166.076,"end":166.436},{"word":"IST.","start":166.436,"end":167.144},{"word":"\n\nTo ","start":167.19016674804686,"end":167.38816674804687},{"word":"complete ","start":167.38816674804687,"end":167.7131667480469},{"word":"the ","start":167.7131667480469,"end":167.81716674804687},{"word":"booking, ","start":167.81716674804687,"end":168.21216674804688},{"word":"please ","start":168.21216674804688,"end":168.52616674804688},{"word":"confirm:\n","start":168.52616674804688,"end":169.37316674804688},{"word":"- ","start":169.37316674804688,"end":169.60516674804688},{"word":"Your ","start":169.60516674804688,"end":169.8381667480469},{"word":"full ","start":169.8381667480469,"end":170.2901667480469},{"word":"name ","start":170.2901667480469,"end":170.5461667480469},{"word":" \n- ","start":170.5461667480469,"end":170.82416674804688},{"word":"Your ","start":170.82416674804688,"end":171.57916674804687},{"word":"email ","start":171.57916674804687,"end":171.83416674804687},{"word":"address ","start":171.83416674804687,"end":172.29916674804687},{"word":" \n- ","start":172.29916674804687,"end":172.69416674804688},{"word":"Your ","start":172.69416674804688,"end":173.04216674804687},{"word":"contact ","start":173.04216674804687,"end":173.37916674804688},{"word":"number ","start":173.37916674804688,"end":173.92416674804687},{"word":"(with ","start":173.92441674804687,"end":173.92441674804687},{"word":"country ","start":173.92441674804687,"end":173.92441674804687},{"word":"code)","start":173.92441674804687,"end":173.92441674804687}],"metadata":{"response_id":15}},{"role":"user","content":"So my full name is, uh, Aishman Sharma.","words":[{"word":"So ","start":175.744,"end":176.14399999999998},{"word":"my ","start":176.14399999999998,"end":176.464},{"word":"full ","start":176.464,"end":176.70400999999998},{"word":"name ","start":176.70400999999998,"end":176.944},{"word":"is, ","start":176.944,"end":177.18401},{"word":"uh, ","start":177.18401,"end":177.34401},{"word":"Aishman ","start":177.34401,"end":177.82399999999998},{"word":"Sharma.","start":177.82399999999998,"end":178.224}]},{"role":"agent","content":"Thank you, ","words":[{"word":"Thank ","start":180.171,"end":180.45},{"word":"you, ","start":180.45,"end":180.589}],"metadata":{"response_id":16}},{"role":"user","content":"My ","words":[{"word":"My ","start":180.634,"end":180.874}]},{"role":"agent","content":"Ayushman ","words":[{"word":"Ayushman ","start":180.589,"end":181.03}],"metadata":{"response_id":16}},{"role":"user","content":"email address is Aishman Sharma two thousand three at the rate gmail dot com. And my contact number is zero five zero four zero six zero seven zero eight.","words":[{"word":"email ","start":180.874,"end":181.194},{"word":"address ","start":181.194,"end":181.51399999999998},{"word":"is ","start":181.51399999999998,"end":181.754},{"word":"Aishman ","start":181.754,"end":182.314},{"word":"Sharma ","start":182.314,"end":182.714},{"word":"two ","start":182.714,"end":183.114},{"word":"thousand ","start":183.334,"end":183.814},{"word":"three ","start":183.814,"end":184.054},{"word":"at ","start":184.054,"end":184.29401},{"word":"the ","start":184.29401,"end":184.374},{"word":"rate ","start":184.374,"end":184.534},{"word":"gmail ","start":184.534,"end":184.85399999999998},{"word":"dot ","start":184.85399999999998,"end":185.094},{"word":"com. ","start":185.094,"end":185.254},{"word":"And ","start":186.01399999999998,"end":186.334},{"word":"my ","start":186.334,"end":186.49399},{"word":"contact ","start":186.49399,"end":186.89399999999998},{"word":"number ","start":186.89399999999998,"end":187.13398999999998},{"word":"is ","start":187.13398999999998,"end":187.374},{"word":"zero ","start":187.374,"end":188.01399999999998},{"word":"five ","start":188.01399999999998,"end":188.57398999999998},{"word":"zero ","start":188.57398999999998,"end":188.974},{"word":"four ","start":188.974,"end":189.21399},{"word":"zero ","start":189.88398999999998,"end":190.284},{"word":"six ","start":190.284,"end":190.52399},{"word":"zero ","start":190.52399,"end":190.76399999999998},{"word":"seven ","start":190.76399999999998,"end":191.004},{"word":"zero ","start":191.004,"end":191.24399},{"word":"eight.","start":191.24399,"end":191.404}]},{"role":"agent","content":"I’ll go ahead and book your consultation for Tuesday at 2:00 PM IST ","words":[{"word":"I’ll ","start":194.585,"end":194.806},{"word":"go ","start":194.806,"end":194.91},{"word":"ahead ","start":194.91,"end":195.108},{"word":"and ","start":195.108,"end":195.212},{"word":"book ","start":195.212,"end":195.398},{"word":"your ","start":195.398,"end":195.549},{"word":"consultation ","start":195.549,"end":196.164},{"word":"for ","start":196.164,"end":196.315},{"word":"Tuesday ","start":196.315,"end":196.698},{"word":"at ","start":196.698,"end":196.791},{"word":"2:00 ","start":196.791,"end":197},{"word":"PM ","start":197,"end":197.267},{"word":"IST ","start":197.267,"end":197.906}],"metadata":{"response_id":18}},{"role":"agent","content":"with the details you provided.Your appointment has been successfully scheduled for Tuesday, 16th December at 2:00 PM IST.\n\nA confirmation email will be sent shortly to: aishmansharma2003@gmail.com.\n\nThank you, Ayushman. If you have any questions before the meeting, you can reply to the confirmation email or contact our sales team at +91-9243082408. Have a great day.","words":[{"word":"with ","start":197.906,"end":198.091},{"word":"the ","start":198.091,"end":198.207},{"word":"details ","start":198.207,"end":198.591},{"word":"you ","start":198.591,"end":198.718},{"word":"provided.","start":198.718,"end":199.438},{"word":"Your ","start":199.48408325195314,"end":199.68208325195312},{"word":"appointment ","start":199.68208325195312,"end":200.11108325195312},{"word":"has ","start":200.11108325195312,"end":200.25108325195313},{"word":"been ","start":200.25108325195313,"end":200.44808325195314},{"word":"successfully ","start":200.44808325195314,"end":201.1100832519531},{"word":"scheduled ","start":201.1100832519531,"end":201.55108325195312},{"word":"for ","start":201.55108325195312,"end":201.70208325195313},{"word":"Tuesday, ","start":201.70208325195313,"end":202.4910832519531},{"word":"16th ","start":202.4910832519531,"end":202.66608325195313},{"word":"December ","start":202.66608325195313,"end":203.20008325195312},{"word":"at ","start":203.20008325195312,"end":203.29308325195314},{"word":"2:00 ","start":203.29308325195314,"end":203.79208325195313},{"word":"PM ","start":203.79208325195313,"end":203.96608325195314},{"word":"IST.","start":203.96608325195314,"end":204.23308325195313},{"word":"\n\nA ","start":205.42841674804689,"end":205.61441674804686},{"word":"confirmation ","start":205.61441674804686,"end":206.24141674804687},{"word":"email ","start":206.24141674804687,"end":206.52041674804687},{"word":"will ","start":206.52041674804687,"end":206.70641674804688},{"word":"be ","start":206.70641674804688,"end":206.78741674804687},{"word":"sent ","start":206.78741674804687,"end":207.03141674804687},{"word":"shortly ","start":207.03141674804687,"end":207.41441674804688},{"word":"to: ","start":207.41441674804688,"end":207.7504167480469},{"word":"aishmansharma2003@gmail.com.","start":207.7504167480469,"end":208.84241674804687},{"word":"\n\nThank ","start":211.837125,"end":212.093125},{"word":"you, ","start":212.093125,"end":212.232125},{"word":"Ayushman.","start":212.232125,"end":212.952125},{"word":" If ","start":212.998125,"end":213.173125},{"word":"you ","start":213.173125,"end":213.300125},{"word":"have ","start":213.300125,"end":213.486125},{"word":"any ","start":213.486125,"end":213.741125},{"word":"questions ","start":213.741125,"end":214.148125},{"word":"before ","start":214.148125,"end":214.392125},{"word":"the ","start":214.392125,"end":214.485125},{"word":"meeting, ","start":214.485125,"end":214.984125},{"word":"you ","start":214.984125,"end":215.170125},{"word":"can ","start":215.170125,"end":215.344125},{"word":"reply ","start":215.344125,"end":215.680125},{"word":"to ","start":215.680125,"end":215.773125},{"word":"the ","start":215.773125,"end":215.889125},{"word":"confirmation ","start":215.889125,"end":216.539125},{"word":"email ","start":216.539125,"end":216.957125},{"word":"or ","start":216.957125,"end":217.178125},{"word":"contact ","start":217.178125,"end":217.631125},{"word":"our ","start":217.631125,"end":217.817125},{"word":"sales ","start":217.817125,"end":218.130125},{"word":"team ","start":218.130125,"end":218.385125},{"word":"at ","start":218.385125,"end":218.560125},{"word":"+91-9243082408. ","start":218.560125,"end":219.314125},{"word":"Have ","start":223.1110417480469,"end":223.30804174804686},{"word":"a ","start":223.30804174804686,"end":223.36604174804688},{"word":"great ","start":223.36604174804688,"end":223.5870417480469},{"word":"day.","start":223.5870417480469,"end":224.05104174804688}],"metadata":{"response_id":18}}],"transcript_with_tool_calls":[{"role":"user","content":"Call will be recorded.","words":[{"word":"Call ","start":7.053999999999999,"end":7.614},{"word":"will ","start":7.614,"end":7.854000399999999},{"word":"be ","start":7.854000399999999,"end":7.934000299999999},{"word":"recorded.","start":7.934000299999999,"end":8.334}]},{"role":"agent","content":"Hello, this is ","words":[{"word":"Hello, ","start":10.331,"end":10.645},{"word":"this ","start":10.645,"end":10.795},{"word":"is ","start":10.795,"end":10.9}],"metadata":{"response_id":2}},{"role":"user","content":"Hello.","words":[{"word":"Hello.","start":10.943999999999999,"end":11.263999}]},{"role":"agent","content":"Jarvis from Wangoes AI Automation Services. May I confirm that I’m speaking with Ayushman sharma?","words":[{"word":"Jarvis ","start":10.9,"end":11.225},{"word":"from ","start":11.225,"end":11.515},{"word":"Wangoes ","start":11.515,"end":11.922},{"word":"AI ","start":11.922,"end":12.177},{"word":"Automation ","start":12.177,"end":12.641},{"word":"Services.","start":12.641,"end":13.326},{"word":" May ","start":13.3615,"end":13.5705},{"word":"I ","start":13.5705,"end":13.6515},{"word":"confirm ","start":13.6515,"end":14.0235},{"word":"that ","start":14.0235,"end":14.1505},{"word":"I’m ","start":14.1505,"end":14.3015},{"word":"speaking ","start":14.3015,"end":14.6035},{"word":"with ","start":14.6035,"end":14.7545},{"word":"Ayushman ","start":14.7545,"end":15.2075},{"word":"sharma?","start":15.2075,"end":15.7415}],"metadata":{"response_id":2}},{"role":"user","content":"Yeah. You are speaking with me?","words":[{"word":"Yeah. ","start":17.584,"end":17.984},{"word":"You ","start":17.984,"end":18.144000000000002},{"word":"are ","start":18.144000000000002,"end":18.224},{"word":"speaking ","start":18.224,"end":18.544},{"word":"with ","start":18.544,"end":18.704},{"word":"me?","start":18.704,"end":18.864}]},{"role":"agent","content":"Great, thank you. I’m here to assist you with scheduling an appointment and answering any questions you may have about our services.\n\nAyushman, you recently showed interest in our automation solutions. I’d be happy to help you book a consultation with one of our specialists and provide any information you need before that. Would you like to begin with some quick details or check appointment availability?","words":[{"word":"Great, ","start":20.466,"end":20.722},{"word":"thank ","start":20.722,"end":20.942},{"word":"you.","start":20.942,"end":21.325},{"word":" I’m ","start":21.37125,"end":21.58025},{"word":"here ","start":21.58025,"end":21.74325},{"word":"to ","start":21.74325,"end":21.84725},{"word":"assist ","start":21.84725,"end":22.14925},{"word":"you ","start":22.14925,"end":22.27725},{"word":"with ","start":22.27725,"end":22.42825},{"word":"scheduling ","start":22.42825,"end":22.82325},{"word":"an ","start":22.82325,"end":22.90425},{"word":"appointment ","start":22.90425,"end":23.39225},{"word":"and ","start":23.39225,"end":23.53125},{"word":"answering ","start":23.53125,"end":23.89125},{"word":"any ","start":23.89125,"end":24.08825},{"word":"questions ","start":24.08825,"end":24.51825},{"word":"you ","start":24.51825,"end":24.65725},{"word":"may ","start":24.65725,"end":24.83125},{"word":"have ","start":24.83125,"end":25.05225},{"word":"about ","start":25.05225,"end":25.28425},{"word":"our ","start":25.28425,"end":25.40025},{"word":"services.","start":25.40025,"end":26.15525},{"word":"\n\nAyushman, ","start":26.201,"end":26.747},{"word":"you ","start":26.747,"end":27.026},{"word":"recently ","start":27.026,"end":27.479},{"word":"showed ","start":27.479,"end":27.746},{"word":"interest ","start":27.746,"end":28.152},{"word":"in ","start":28.152,"end":28.291},{"word":"our ","start":28.291,"end":28.489},{"word":"automation ","start":28.489,"end":29.162},{"word":"solutions.","start":29.162,"end":29.963},{"word":" I’d ","start":29.975083251953127,"end":30.207083251953126},{"word":"be ","start":30.207083251953126,"end":30.335083251953126},{"word":"happy ","start":30.335083251953126,"end":30.636083251953124},{"word":"to ","start":30.636083251953124,"end":30.741083251953125},{"word":"help ","start":30.741083251953125,"end":30.973083251953124},{"word":"you ","start":30.973083251953124,"end":31.205083251953123},{"word":"book ","start":31.205083251953123,"end":31.472083251953126},{"word":"a ","start":31.472083251953126,"end":31.565083251953126},{"word":"consultation ","start":31.565083251953126,"end":32.26208325195312},{"word":"with ","start":32.26208325195312,"end":32.44808325195312},{"word":"one ","start":32.44808325195312,"end":32.59808325195313},{"word":"of ","start":32.59808325195313,"end":32.68008325195313},{"word":"our ","start":32.68008325195313,"end":32.807083251953124},{"word":"specialists ","start":32.807083251953124,"end":33.53908325195312},{"word":"and ","start":33.53908325195312,"end":33.934083251953126},{"word":"provide ","start":33.934083251953126,"end":34.410083251953125},{"word":"any ","start":34.410083251953125,"end":34.688083251953124},{"word":"information ","start":34.688083251953124,"end":35.26908325195313},{"word":"you ","start":35.26908325195313,"end":35.39608325195312},{"word":"need ","start":35.39608325195312,"end":35.64008325195312},{"word":"before ","start":35.64008325195312,"end":35.965083251953125},{"word":"that.","start":35.965083251953125,"end":36.37208325195313},{"word":" Would ","start":36.417791748046874,"end":36.673791748046874},{"word":"you ","start":36.673791748046874,"end":36.81279174804688},{"word":"like ","start":36.81279174804688,"end":36.986791748046876},{"word":"to ","start":36.986791748046876,"end":37.09179174804687},{"word":"begin ","start":37.09179174804687,"end":37.38179174804687},{"word":"with ","start":37.38179174804687,"end":37.55579174804687},{"word":"some ","start":37.55579174804687,"end":37.78779174804688},{"word":"quick ","start":37.78779174804688,"end":38.066791748046874},{"word":"details ","start":38.066791748046874,"end":38.542791748046874},{"word":"or ","start":38.542791748046874,"end":38.71679174804687},{"word":"check ","start":38.71679174804687,"end":38.983791748046876},{"word":"appointment ","start":38.983791748046876,"end":39.37879174804687},{"word":"availability?","start":39.37879174804687,"end":40.365791748046874}],"metadata":{"response_id":4}},{"role":"user","content":"So would you like me to tell the address of your office in India?","words":[{"word":"So ","start":42.514002,"end":43.074},{"word":"would ","start":43.074,"end":43.394},{"word":"you ","start":43.394,"end":43.553999999999995},{"word":"like ","start":43.553999999999995,"end":43.873999999999995},{"word":"me ","start":43.873999999999995,"end":44.034},{"word":"to ","start":44.034,"end":44.274},{"word":"tell ","start":44.274,"end":44.594},{"word":"the ","start":44.594,"end":44.754},{"word":"address ","start":44.754,"end":45.074},{"word":"of ","start":45.074,"end":45.233999999999995},{"word":"your ","start":45.233999999999995,"end":45.394},{"word":"office ","start":45.394,"end":45.714},{"word":"in ","start":45.714,"end":45.873999999999995},{"word":"India?","start":45.873999999999995,"end":46.114}]},{"role":"agent","content":"I can help with that.Our India office address is:  \nWangoes Technologies Pvt Ltd  \n76, PU-4, Behind C21 Mall, Indore, Madhya Pradesh 452010, India  \n\nWould you like any other details, like contact number or office timings?","words":[{"word":"I ","start":47.562,"end":47.69},{"word":"can ","start":47.69,"end":47.829},{"word":"help ","start":47.829,"end":47.991},{"word":"with ","start":47.991,"end":48.142},{"word":"that.","start":48.142,"end":48.572},{"word":"Our ","start":48.607,"end":48.816},{"word":"India ","start":48.816,"end":49.083},{"word":"office ","start":49.083,"end":49.385},{"word":"address ","start":49.385,"end":49.768},{"word":"is: ","start":49.768,"end":50.105},{"word":" \nWangoes ","start":50.105,"end":50.557},{"word":"Technologies ","start":50.557,"end":51.358},{"word":"Pvt ","start":51.358,"end":51.974},{"word":"Ltd ","start":51.974,"end":52.519},{"word":" \n76, ","start":52.519,"end":52.891},{"word":"PU-4, ","start":52.891,"end":53.216},{"word":"Behind ","start":53.216,"end":54.087},{"word":"C21 ","start":54.087,"end":54.493},{"word":"Mall, ","start":54.493,"end":54.656},{"word":"Indore, ","start":54.656,"end":54.911},{"word":"Madhya ","start":54.911,"end":55.074},{"word":"Pradesh ","start":55.074,"end":55.584},{"word":"452010, ","start":55.584,"end":56.095},{"word":"India ","start":56.095,"end":56.571},{"word":" \n\nWould ","start":56.571,"end":57.279},{"word":"you ","start":57.279,"end":57.605},{"word":"like ","start":57.605,"end":57.906},{"word":"any ","start":57.906,"end":58.127},{"word":"other ","start":58.127,"end":58.429},{"word":"details, ","start":58.429,"end":58.615},{"word":"like ","start":58.615,"end":59.091},{"word":"contact ","start":59.091,"end":59.764},{"word":"number ","start":59.764,"end":59.985},{"word":"or ","start":59.985,"end":60.089},{"word":"office ","start":60.089,"end":60.275},{"word":"timings?","start":60.275,"end":60.437}],"metadata":{"response_id":5}},{"role":"user","content":"Uh, no. That's fine. So I would like to book an appointment","words":[{"word":"Uh, ","start":65.214,"end":65.614},{"word":"no. ","start":65.614,"end":65.93400000000001},{"word":"That's ","start":65.93400000000001,"end":66.174},{"word":"fine. ","start":66.174,"end":66.41399600000001},{"word":"So ","start":66.41399600000001,"end":66.65399400000001},{"word":"I ","start":66.65399400000001,"end":66.733996},{"word":"would ","start":66.733996,"end":66.894},{"word":"like ","start":66.894,"end":67.053995},{"word":"to ","start":67.053995,"end":67.214},{"word":"book ","start":67.214,"end":67.45400000000001},{"word":"an ","start":67.45400000000001,"end":67.693995},{"word":"appointment","start":67.693995,"end":67.93400000000001}]},{"role":"agent","content":"Of course, I can help with that.\n\nTo book your appointment, please share:\n- Your preferred date and time (and your time zone, e.g., IST)\n- Your full name (as you want it on the booking)\n- Your email address  \n- Your preferred contact number (with country code)","words":[{"word":"Of ","start":70.153,"end":70.269},{"word":"course, ","start":70.269,"end":70.501},{"word":"I ","start":70.501,"end":70.582},{"word":"can ","start":70.582,"end":70.745},{"word":"help ","start":70.745,"end":70.919},{"word":"with ","start":70.919,"end":71.07},{"word":"that.","start":71.07,"end":71.569},{"word":"\n\nTo ","start":71.61508325195312,"end":71.79008325195312},{"word":"book ","start":71.79008325195312,"end":71.98708325195312},{"word":"your ","start":71.98708325195312,"end":72.12608325195312},{"word":"appointment, ","start":72.12608325195312,"end":72.62608325195312},{"word":"please ","start":72.62608325195312,"end":73.29908325195312},{"word":"share:\n","start":73.29908325195312,"end":73.98408325195312},{"word":"- ","start":73.98408325195312,"end":74.21608325195312},{"word":"Your ","start":74.21608325195312,"end":74.57608325195312},{"word":"preferred ","start":74.57608325195312,"end":74.83108325195313},{"word":"date ","start":74.83108325195313,"end":75.01708325195312},{"word":"and ","start":75.01708325195312,"end":75.55108325195313},{"word":"time ","start":75.55108325195313,"end":76.00408325195312},{"word":"(and ","start":76.00408325195312,"end":76.17808325195313},{"word":"your ","start":76.17808325195313,"end":76.44508325195312},{"word":"time ","start":76.44508325195312,"end":76.70108325195312},{"word":"zone, ","start":76.70108325195312,"end":76.87508325195313},{"word":"e.g., ","start":76.87508325195313,"end":77.40908325195312},{"word":"IST)\n","start":77.40908325195312,"end":78.47708325195312},{"word":"- ","start":78.47708325195312,"end":78.67408325195312},{"word":"Your ","start":78.67408325195312,"end":78.90708325195313},{"word":"full ","start":78.90708325195313,"end":79.24308325195312},{"word":"name ","start":79.24308325195312,"end":79.49908325195312},{"word":"(as ","start":79.49908325195312,"end":79.61508325195312},{"word":"you ","start":79.61508325195312,"end":79.77708325195313},{"word":"want ","start":79.77708325195313,"end":79.87008325195312},{"word":"it ","start":79.87008325195312,"end":79.96308325195312},{"word":"on ","start":79.96308325195312,"end":80.06808325195313},{"word":"the ","start":80.06808325195313,"end":80.63608325195312},{"word":"booking)\n","start":80.63608325195312,"end":80.84508325195313},{"word":"- ","start":80.84508325195313,"end":81.12408325195312},{"word":"Your ","start":81.12408325195312,"end":81.64608325195313},{"word":"email ","start":81.64608325195313,"end":81.82108325195313},{"word":"address ","start":81.82108325195313,"end":82.15708325195313},{"word":" \n- ","start":82.15708325195313,"end":82.56408325195312},{"word":"Your ","start":82.56408325195312,"end":82.93508325195313},{"word":"preferred ","start":82.93508325195313,"end":83.26008325195312},{"word":"contact ","start":83.26008325195312,"end":83.62008325195312},{"word":"number ","start":83.62008325195312,"end":84.20108325195312},{"word":"(with ","start":84.20075,"end":84.20075},{"word":"country ","start":84.20075,"end":84.20075},{"word":"code)","start":84.20075,"end":84.20075}],"metadata":{"response_id":8}},{"role":"user","content":"So what are the time slots you are available?","words":[{"word":"So ","start":86.70400500000001,"end":87.424},{"word":"what ","start":87.664,"end":87.90400000000001},{"word":"are ","start":87.90400000000001,"end":88.06400000000001},{"word":"the ","start":88.06400000000001,"end":88.464},{"word":"time ","start":88.464,"end":88.784},{"word":"slots ","start":88.784,"end":89.024004},{"word":"you ","start":89.024004,"end":89.26400000000001},{"word":"are ","start":89.26400000000001,"end":89.424},{"word":"available?","start":89.424,"end":89.744}]},{"role":"tool_call_invocation","tool_call_id":"106606ed7514263b","name":"check_availability_cal","arguments":"{\"start_time\":\"2025-12-15T00:00:00\",\"end_time\":\"2025-12-21T23:59:00\",\"timezone\":\"Asia/Kolkata\",\"execution_message\":\"Let me quickly check our latest schedule for the coming days so I can share the available time slots with you.\"}","time_sec":91.109,"type":"check_availability_cal"},{"role":"agent","content":"Let ","words":[{"word":"Let ","start":91.665,"end":91.839}],"metadata":{"response_id":9}},{"role":"tool_call_result","tool_call_id":"106606ed7514263b","content":"{\"availability_for_selected_time\":[{\"date\":\"Monday, 2025 December 12/15/2025 India Standard Time\",\"availability_range\":[\"From 3:00 PM to 3:30 PM\",\"From 3:45 PM to 5:00 PM\"]},{\"date\":\"Tuesday, 2025 December 12/16/2025 India Standard Time\",\"availability_range\":[\"From 9:00 AM to 9:30 AM\",\"From 9:45 AM to 5:00 PM\"]},{\"date\":\"Wednesday, 2025 December 12/17/2025 India Standard Time\",\"availability_range\":[\"From 9:00 AM to 5:00 PM\"]},{\"date\":\"Thursday, 2025 December 12/18/2025 India Standard Time\",\"availability_range\":[\"From 9:00 AM to 5:00 PM\"]},{\"date\":\"Friday, 2025 December 12/19/2025 India Standard Time\",\"availability_range\":[\"From 9:00 AM to 5:00 PM\"]}]}","time_sec":91.702},{"role":"agent","content":"me quickly check our latest schedule for the coming days so I can share the available time slots with you.Here are the available time slots (all in IST):\n\n- Monday (15 Dec): 3:00–3:30 PM, 3:45–5:00 PM  \n- Tuesday (16 Dec): 9:00–9:30 AM, 9:45 AM–5:00 PM  \n- Wednesday (17 Dec): ","words":[{"word":"me ","start":91.839,"end":91.932},{"word":"quickly ","start":91.932,"end":92.246},{"word":"check ","start":92.246,"end":92.489},{"word":"our ","start":92.489,"end":92.652},{"word":"latest ","start":92.652,"end":92.919},{"word":"schedule ","start":92.919,"end":93.314},{"word":"for ","start":93.314,"end":93.43},{"word":"the ","start":93.43,"end":93.523},{"word":"coming ","start":93.523,"end":93.801},{"word":"days ","start":93.801,"end":94.324},{"word":"so ","start":94.324,"end":94.521},{"word":"I ","start":94.521,"end":94.602},{"word":"can ","start":94.602,"end":94.8},{"word":"share ","start":94.8,"end":95.09},{"word":"the ","start":95.09,"end":95.195},{"word":"available ","start":95.195,"end":95.578},{"word":"time ","start":95.578,"end":95.821},{"word":"slots ","start":95.821,"end":96.123},{"word":"with ","start":96.123,"end":96.309},{"word":"you.","start":96.309,"end":96.657},{"word":"Here ","start":96.70341674804688,"end":96.93641674804688},{"word":"are ","start":96.93641674804688,"end":97.05241674804688},{"word":"the ","start":97.05241674804688,"end":97.14541674804687},{"word":"available ","start":97.14541674804687,"end":97.58641674804687},{"word":"time ","start":97.58641674804687,"end":97.83041674804687},{"word":"slots ","start":97.83041674804687,"end":98.37541674804687},{"word":"(all ","start":98.37541674804687,"end":98.78241674804687},{"word":"in ","start":98.78241674804687,"end":99.03741674804688},{"word":"IST):\n","start":99.03741674804688,"end":100.04741674804687},{"word":"\n- ","start":100.04741674804687,"end":100.63941674804687},{"word":"Monday ","start":100.63941674804687,"end":101.16241674804688},{"word":"(15 ","start":101.16241674804688,"end":101.70741674804688},{"word":"Dec): ","start":101.70741674804688,"end":101.80041674804687},{"word":"3:00–3:30 ","start":101.80041674804687,"end":102.86841674804687},{"word":"PM, ","start":102.86841674804687,"end":103.18241674804688},{"word":"3:45–5:00 ","start":103.18241674804688,"end":104.50541674804687},{"word":"PM ","start":104.50541674804687,"end":104.78441674804688},{"word":" \n- ","start":104.78441674804688,"end":105.08641674804687},{"word":"Tuesday ","start":105.08641674804687,"end":105.74841674804688},{"word":"(16 ","start":105.74841674804688,"end":106.06141674804688},{"word":"Dec): ","start":106.06141674804688,"end":106.34041674804688},{"word":"9:00–9:30 ","start":106.34041674804688,"end":106.59541674804687},{"word":"AM, ","start":106.59541674804687,"end":106.82741674804687},{"word":"9:45 ","start":106.82741674804687,"end":107.08341674804687},{"word":"AM–5:00 ","start":107.08341674804687,"end":107.75641674804687},{"word":"PM ","start":107.75641674804687,"end":108.33741674804688},{"word":" \n- ","start":108.33741674804688,"end":108.83641674804687},{"word":"Wednesday ","start":108.83641674804687,"end":108.92941674804688},{"word":"(17 ","start":108.92941674804688,"end":109.83441674804688},{"word":"Dec): ","start":109.83441674804688,"end":110.04341674804688}],"metadata":{"response_id":9}},{"role":"user","content":"Oh, yeah. Tuesday was fine for me.","words":[{"word":"Oh, ","start":109.76400000000001,"end":110.164},{"word":"yeah. ","start":110.164,"end":110.48400000000001},{"word":"Tuesday ","start":110.48400000000001,"end":110.964},{"word":"was ","start":110.964,"end":111.20400000000001},{"word":"fine ","start":111.20400000000001,"end":111.444},{"word":"for ","start":111.444,"end":111.68400000000001},{"word":"me.","start":111.68400000000001,"end":111.844004}]},{"role":"agent","content":"Perfect, we can book it for Tuesday.\n\nWhat time on Tuesday works best for you? The available range is:\n- 9:00–9:30 AM  \n- 9:45 AM–5:00 PM (any 30–60 min slot)\n\nAlso, please confirm:\n- Your full name  \n- Email address  \n- Contact number (with country code)","words":[{"word":"Perfect, ","start":113.44,"end":113.8},{"word":"we ","start":113.8,"end":113.904},{"word":"can ","start":113.904,"end":114.055},{"word":"book ","start":114.055,"end":114.241},{"word":"it ","start":114.241,"end":114.334},{"word":"for ","start":114.334,"end":114.462},{"word":"Tuesday.\n","start":114.462,"end":115.135},{"word":"\n","start":115.135,"end":115.13516674804687},{"word":"What ","start":115.18116674804688,"end":115.41416674804688},{"word":"time ","start":115.41416674804688,"end":115.61116674804687},{"word":"on ","start":115.61116674804687,"end":115.72716674804687},{"word":"Tuesday ","start":115.72716674804687,"end":116.06416674804687},{"word":"works ","start":116.06416674804687,"end":116.27316674804688},{"word":"best ","start":116.27316674804688,"end":116.47016674804688},{"word":"for ","start":116.47016674804688,"end":116.60916674804687},{"word":"you?","start":116.60916674804687,"end":116.99316674804687},{"word":" The ","start":117.00475,"end":117.16675},{"word":"available ","start":117.16675,"end":117.56175},{"word":"range ","start":117.56175,"end":117.81675},{"word":"is:\n","start":117.81675,"end":117.94475},{"word":"- ","start":117.94475,"end":118.11875},{"word":"9:00–9:30 ","start":118.11875,"end":118.49075},{"word":"AM ","start":118.49075,"end":118.67575},{"word":" \n- ","start":118.67575,"end":118.96675},{"word":"9:45 ","start":118.96675,"end":119.38475},{"word":"AM–5:00 ","start":119.38475,"end":119.59375},{"word":"PM ","start":119.59375,"end":119.83675},{"word":"(any ","start":119.83675,"end":120.09275},{"word":"30–60 ","start":120.09275,"end":120.38275},{"word":"min ","start":120.38275,"end":120.66175},{"word":"slot)\n","start":120.66175,"end":121.19575},{"word":"\nAlso, ","start":121.19575,"end":121.65975},{"word":"please ","start":121.65975,"end":121.92675},{"word":"confirm:\n","start":121.92675,"end":122.20575},{"word":"- ","start":122.20575,"end":122.44975},{"word":"Your ","start":122.44975,"end":123.02975},{"word":"full ","start":123.02975,"end":123.72675},{"word":"name ","start":123.72675,"end":124.00475},{"word":" \n- ","start":124.00475,"end":124.45775},{"word":"Email ","start":124.45775,"end":124.62075},{"word":"address ","start":124.62075,"end":124.81775},{"word":" \n- ","start":124.81775,"end":125.03875},{"word":"Contact ","start":125.03875,"end":125.38675},{"word":"number ","start":125.38675,"end":125.76975},{"word":"(with ","start":125.76975,"end":126.24575},{"word":"country ","start":126.24575,"end":126.57075},{"word":"code)","start":126.57075,"end":126.82675}],"metadata":{"response_id":11}},{"role":"user","content":"So on Tuesday, nine forty five PM will be fine.","words":[{"word":"So ","start":130.06401,"end":130.70400999999998},{"word":"on ","start":130.864,"end":131.10399999999998},{"word":"Tuesday, ","start":131.10399999999998,"end":131.504},{"word":"nine ","start":132.17399999999998,"end":132.41398999999998},{"word":"forty ","start":132.41398999999998,"end":132.73399999999998},{"word":"five ","start":132.73399999999998,"end":132.89399999999998},{"word":"PM ","start":132.89399999999998,"end":133.21399},{"word":"will ","start":133.21399,"end":133.45399999999998},{"word":"be ","start":133.45399999999998,"end":133.69398999999999},{"word":"fine.","start":133.69398999999999,"end":133.934}]},{"role":"user","content":"book with.","words":[{"word":"book ","start":135.134,"end":135.37401},{"word":"with.","start":135.37401,"end":135.534}]},{"role":"agent","content":"Got it, you’d like to book for Tuesday at 9:45 PM.\n\nThat time isn’t in our available slots (we’re available on Tuesday from 9:00 AM to 5:00 PM IST).Would you like to choose a time between 9:45 AM and 5:00 PM instead—for example:\n\n- 9:45 AM  \n- 11:00 AM  \n- 2:00 PM  \n- 4:00 PM  \n\nAlso, please share:\n- Full name  \n- Email address  \n- Contact number (with country code)","words":[{"word":"Got ","start":137.73,"end":137.95},{"word":"it, ","start":137.95,"end":138.043},{"word":"you’d ","start":138.043,"end":138.206},{"word":"like ","start":138.206,"end":138.357},{"word":"to ","start":138.357,"end":138.438},{"word":"book ","start":138.438,"end":138.589},{"word":"for ","start":138.589,"end":138.705},{"word":"Tuesday ","start":138.705,"end":139.123},{"word":"at ","start":139.123,"end":139.32},{"word":"9:45 ","start":139.32,"end":139.541},{"word":"PM.\n","start":139.541,"end":139.785},{"word":"\n","start":139.785,"end":140.028},{"word":"That ","start":140.6665832519531,"end":140.93358325195314},{"word":"time ","start":140.93358325195314,"end":141.29358325195312},{"word":"isn’t ","start":141.29358325195312,"end":141.6185832519531},{"word":"in ","start":141.6185832519531,"end":141.76958325195312},{"word":"our ","start":141.76958325195312,"end":141.90958325195314},{"word":"available ","start":141.90958325195314,"end":142.3505832519531},{"word":"slots ","start":142.3505832519531,"end":142.89658325195313},{"word":"(we’re ","start":142.89658325195313,"end":143.45358325195312},{"word":"available ","start":143.45358325195312,"end":143.94058325195311},{"word":"on ","start":143.94058325195311,"end":144.05758325195313},{"word":"Tuesday ","start":144.05758325195313,"end":144.45158325195314},{"word":"from ","start":144.45158325195314,"end":144.63758325195312},{"word":"9:00 ","start":144.63758325195312,"end":144.88158325195312},{"word":"AM ","start":144.88158325195312,"end":145.1485832519531},{"word":"to ","start":145.1485832519531,"end":145.26458325195313},{"word":"5:00 ","start":145.26458325195313,"end":145.50858325195313},{"word":"PM ","start":145.50858325195313,"end":145.87958325195314},{"word":"IST).","start":145.87958325195314,"end":146.7975832519531},{"word":"Would ","start":146.82008325195312,"end":147.01808325195313},{"word":"you ","start":147.01808325195313,"end":147.1100832519531},{"word":"like ","start":147.1100832519531,"end":147.28508325195313},{"word":"to ","start":147.28508325195313,"end":147.37708325195314},{"word":"choose ","start":147.37708325195314,"end":147.63308325195314},{"word":"a ","start":147.63308325195314,"end":147.70308325195313},{"word":"time ","start":147.70308325195313,"end":147.91208325195313},{"word":"between ","start":147.91208325195313,"end":148.22508325195312},{"word":"9:45 ","start":148.22508325195312,"end":148.46908325195312},{"word":"AM ","start":148.46908325195312,"end":148.72408325195312},{"word":"and ","start":148.72408325195312,"end":148.96808325195312},{"word":"5:00 ","start":148.96808325195312,"end":149.17708325195312},{"word":"PM ","start":149.17708325195312,"end":149.30508325195314},{"word":"instead—for ","start":149.30508325195314,"end":149.56008325195313},{"word":"example:\n","start":149.56008325195313,"end":149.80408325195313},{"word":"\n- ","start":149.80408325195313,"end":150.35008325195312},{"word":"9:45 ","start":150.35008325195312,"end":150.76808325195313},{"word":"AM ","start":150.76808325195313,"end":150.97708325195313},{"word":" \n- ","start":150.97708325195313,"end":151.19708325195313},{"word":"11:00 ","start":151.19708325195313,"end":151.42908325195313},{"word":"AM ","start":151.42908325195313,"end":151.72008325195313},{"word":" \n- ","start":151.72008325195313,"end":152.04508325195312},{"word":"2:00 ","start":152.04508325195312,"end":152.26508325195311},{"word":"PM ","start":152.26508325195311,"end":152.45108325195312},{"word":" \n- ","start":152.45108325195312,"end":152.70608325195312},{"word":"4:00 ","start":152.70608325195312,"end":152.91508325195312},{"word":"PM ","start":152.91508325195312,"end":153.64708325195312},{"word":" \n\nAlso, ","start":153.64708325195312,"end":154.05308325195313},{"word":"please ","start":154.05308325195313,"end":154.27408325195313},{"word":"share:\n","start":154.27408325195313,"end":154.54108325195313},{"word":"- ","start":154.54108325195313,"end":154.76108325195312},{"word":"Full ","start":154.76108325195312,"end":154.98208325195313},{"word":"name ","start":154.98208325195313,"end":155.26108325195312},{"word":" \n- ","start":155.26108325195312,"end":155.56308325195312},{"word":"Email ","start":155.56308325195312,"end":155.92208325195313},{"word":"address ","start":155.92208325195313,"end":156.27108325195312},{"word":" \n- ","start":156.27108325195312,"end":156.60708325195313},{"word":"Contact ","start":156.60708325195313,"end":156.89808325195312},{"word":"number ","start":156.89808325195312,"end":157.38508325195312},{"word":"(with ","start":157.385375,"end":157.385375},{"word":"country ","start":157.385375,"end":157.385375},{"word":"code)","start":157.385375,"end":157.385375}],"metadata":{"response_id":13}},{"role":"user","content":"Okay. Okay. Two PM is fine, uh, to have a meeting.","words":[{"word":"Okay. ","start":159.20399999999998,"end":159.76399999999998},{"word":"Okay. ","start":159.76399999999998,"end":160.004},{"word":"Two ","start":160.004,"end":160.084},{"word":"PM ","start":160.084,"end":160.404},{"word":"is ","start":160.404,"end":160.64399999999998},{"word":"fine, ","start":160.64399999999998,"end":161.124},{"word":"uh, ","start":161.124,"end":161.364},{"word":"to ","start":161.364,"end":161.76399999999998},{"word":"have ","start":161.76399999999998,"end":162.08399},{"word":"a ","start":162.08399,"end":162.24399},{"word":"meeting.","start":162.24399,"end":162.404}]},{"role":"agent","content":"Great, we’ll schedule it for Tuesday at 2:00 PM IST.\n\nTo complete the booking, please confirm:\n- Your full name  \n- Your email address  \n- Your contact number (with country code)","words":[{"word":"Great, ","start":164.288,"end":164.567},{"word":"we’ll ","start":164.567,"end":164.776},{"word":"schedule ","start":164.776,"end":165.112},{"word":"it ","start":165.112,"end":165.217},{"word":"for ","start":165.217,"end":165.356},{"word":"Tuesday ","start":165.356,"end":165.763},{"word":"at ","start":165.763,"end":165.855},{"word":"2:00 ","start":165.855,"end":166.076},{"word":"PM ","start":166.076,"end":166.436},{"word":"IST.","start":166.436,"end":167.144},{"word":"\n\nTo ","start":167.19016674804686,"end":167.38816674804687},{"word":"complete ","start":167.38816674804687,"end":167.7131667480469},{"word":"the ","start":167.7131667480469,"end":167.81716674804687},{"word":"booking, ","start":167.81716674804687,"end":168.21216674804688},{"word":"please ","start":168.21216674804688,"end":168.52616674804688},{"word":"confirm:\n","start":168.52616674804688,"end":169.37316674804688},{"word":"- ","start":169.37316674804688,"end":169.60516674804688},{"word":"Your ","start":169.60516674804688,"end":169.8381667480469},{"word":"full ","start":169.8381667480469,"end":170.2901667480469},{"word":"name ","start":170.2901667480469,"end":170.5461667480469},{"word":" \n- ","start":170.5461667480469,"end":170.82416674804688},{"word":"Your ","start":170.82416674804688,"end":171.57916674804687},{"word":"email ","start":171.57916674804687,"end":171.83416674804687},{"word":"address ","start":171.83416674804687,"end":172.29916674804687},{"word":" \n- ","start":172.29916674804687,"end":172.69416674804688},{"word":"Your ","start":172.69416674804688,"end":173.04216674804687},{"word":"contact ","start":173.04216674804687,"end":173.37916674804688},{"word":"number ","start":173.37916674804688,"end":173.92416674804687},{"word":"(with ","start":173.92441674804687,"end":173.92441674804687},{"word":"country ","start":173.92441674804687,"end":173.92441674804687},{"word":"code)","start":173.92441674804687,"end":173.92441674804687}],"metadata":{"response_id":15}},{"role":"user","content":"So my full name is, uh, Aishman Sharma.","words":[{"word":"So ","start":175.744,"end":176.14399999999998},{"word":"my ","start":176.14399999999998,"end":176.464},{"word":"full ","start":176.464,"end":176.70400999999998},{"word":"name ","start":176.70400999999998,"end":176.944},{"word":"is, ","start":176.944,"end":177.18401},{"word":"uh, ","start":177.18401,"end":177.34401},{"word":"Aishman ","start":177.34401,"end":177.82399999999998},{"word":"Sharma.","start":177.82399999999998,"end":178.224}]},{"role":"agent","content":"Thank you, ","words":[{"word":"Thank ","start":180.171,"end":180.45},{"word":"you, ","start":180.45,"end":180.589}],"metadata":{"response_id":16}},{"role":"user","content":"My ","words":[{"word":"My ","start":180.634,"end":180.874}]},{"role":"agent","content":"Ayushman ","words":[{"word":"Ayushman ","start":180.589,"end":181.03}],"metadata":{"response_id":16}},{"role":"user","content":"email address is Aishman Sharma two thousand three at the rate gmail dot com. And my contact number is zero five zero four zero six zero seven zero eight.","words":[{"word":"email ","start":180.874,"end":181.194},{"word":"address ","start":181.194,"end":181.51399999999998},{"word":"is ","start":181.51399999999998,"end":181.754},{"word":"Aishman ","start":181.754,"end":182.314},{"word":"Sharma ","start":182.314,"end":182.714},{"word":"two ","start":182.714,"end":183.114},{"word":"thousand ","start":183.334,"end":183.814},{"word":"three ","start":183.814,"end":184.054},{"word":"at ","start":184.054,"end":184.29401},{"word":"the ","start":184.29401,"end":184.374},{"word":"rate ","start":184.374,"end":184.534},{"word":"gmail ","start":184.534,"end":184.85399999999998},{"word":"dot ","start":184.85399999999998,"end":185.094},{"word":"com. ","start":185.094,"end":185.254},{"word":"And ","start":186.01399999999998,"end":186.334},{"word":"my ","start":186.334,"end":186.49399},{"word":"contact ","start":186.49399,"end":186.89399999999998},{"word":"number ","start":186.89399999999998,"end":187.13398999999998},{"word":"is ","start":187.13398999999998,"end":187.374},{"word":"zero ","start":187.374,"end":188.01399999999998},{"word":"five ","start":188.01399999999998,"end":188.57398999999998},{"word":"zero ","start":188.57398999999998,"end":188.974},{"word":"four ","start":188.974,"end":189.21399},{"word":"zero ","start":189.88398999999998,"end":190.284},{"word":"six ","start":190.284,"end":190.52399},{"word":"zero ","start":190.52399,"end":190.76399999999998},{"word":"seven ","start":190.76399999999998,"end":191.004},{"word":"zero ","start":191.004,"end":191.24399},{"word":"eight.","start":191.24399,"end":191.404}]},{"role":"tool_call_invocation","tool_call_id":"18f5bb2cadd4b931","name":"book_appointment_cal","arguments":"{\"time\":\"2025-12-16T14:00:00\",\"timezone\":\"Asia/Kolkata\",\"name\":\"Ayushman Sharma\",\"email\":\"aishmansharma2003@gmail.com\",\"attendeePhoneNumber\":\"+50504060708\",\"title\":\"Consultation on AI Automation Solutions\",\"notes\":null,\"guests\":null,\"rescheduleReason\":null,\"execution_message\":\"I’ll go ahead and book your consultation for Tuesday at 2:00 PM IST with the details you provided.\"}","time_sec":193.992,"type":"book_appointment_cal"},{"role":"agent","content":"I’ll go ahead and book your consultation for Tuesday at 2:00 PM IST ","words":[{"word":"I’ll ","start":194.585,"end":194.806},{"word":"go ","start":194.806,"end":194.91},{"word":"ahead ","start":194.91,"end":195.108},{"word":"and ","start":195.108,"end":195.212},{"word":"book ","start":195.212,"end":195.398},{"word":"your ","start":195.398,"end":195.549},{"word":"consultation ","start":195.549,"end":196.164},{"word":"for ","start":196.164,"end":196.315},{"word":"Tuesday ","start":196.315,"end":196.698},{"word":"at ","start":196.698,"end":196.791},{"word":"2:00 ","start":196.791,"end":197},{"word":"PM ","start":197,"end":197.267},{"word":"IST ","start":197.267,"end":197.906}],"metadata":{"response_id":18}},{"role":"tool_call_result","tool_call_id":"18f5bb2cadd4b931","content":"{\"status\":\"Successfully booked an appointment.\"}","time_sec":197.643},{"role":"agent","content":"with the details you provided.Your appointment has been successfully scheduled for Tuesday, 16th December at 2:00 PM IST.\n\nA confirmation email will be sent shortly to: aishmansharma2003@gmail.com.\n\nThank you, Ayushman. If you have any questions before the meeting, you can reply to the confirmation email or contact our sales team at +91-9243082408. Have a great day.","words":[{"word":"with ","start":197.906,"end":198.091},{"word":"the ","start":198.091,"end":198.207},{"word":"details ","start":198.207,"end":198.591},{"word":"you ","start":198.591,"end":198.718},{"word":"provided.","start":198.718,"end":199.438},{"word":"Your ","start":199.48408325195314,"end":199.68208325195312},{"word":"appointment ","start":199.68208325195312,"end":200.11108325195312},{"word":"has ","start":200.11108325195312,"end":200.25108325195313},{"word":"been ","start":200.25108325195313,"end":200.44808325195314},{"word":"successfully ","start":200.44808325195314,"end":201.1100832519531},{"word":"scheduled ","start":201.1100832519531,"end":201.55108325195312},{"word":"for ","start":201.55108325195312,"end":201.70208325195313},{"word":"Tuesday, ","start":201.70208325195313,"end":202.4910832519531},{"word":"16th ","start":202.4910832519531,"end":202.66608325195313},{"word":"December ","start":202.66608325195313,"end":203.20008325195312},{"word":"at ","start":203.20008325195312,"end":203.29308325195314},{"word":"2:00 ","start":203.29308325195314,"end":203.79208325195313},{"word":"PM ","start":203.79208325195313,"end":203.96608325195314},{"word":"IST.","start":203.96608325195314,"end":204.23308325195313},{"word":"\n\nA ","start":205.42841674804689,"end":205.61441674804686},{"word":"confirmation ","start":205.61441674804686,"end":206.24141674804687},{"word":"email ","start":206.24141674804687,"end":206.52041674804687},{"word":"will ","start":206.52041674804687,"end":206.70641674804688},{"word":"be ","start":206.70641674804688,"end":206.78741674804687},{"word":"sent ","start":206.78741674804687,"end":207.03141674804687},{"word":"shortly ","start":207.03141674804687,"end":207.41441674804688},{"word":"to: ","start":207.41441674804688,"end":207.7504167480469},{"word":"aishmansharma2003@gmail.com.","start":207.7504167480469,"end":208.84241674804687},{"word":"\n\nThank ","start":211.837125,"end":212.093125},{"word":"you, ","start":212.093125,"end":212.232125},{"word":"Ayushman.","start":212.232125,"end":212.952125},{"word":" If ","start":212.998125,"end":213.173125},{"word":"you ","start":213.173125,"end":213.300125},{"word":"have ","start":213.300125,"end":213.486125},{"word":"any ","start":213.486125,"end":213.741125},{"word":"questions ","start":213.741125,"end":214.148125},{"word":"before ","start":214.148125,"end":214.392125},{"word":"the ","start":214.392125,"end":214.485125},{"word":"meeting, ","start":214.485125,"end":214.984125},{"word":"you ","start":214.984125,"end":215.170125},{"word":"can ","start":215.170125,"end":215.344125},{"word":"reply ","start":215.344125,"end":215.680125},{"word":"to ","start":215.680125,"end":215.773125},{"word":"the ","start":215.773125,"end":215.889125},{"word":"confirmation ","start":215.889125,"end":216.539125},{"word":"email ","start":216.539125,"end":216.957125},{"word":"or ","start":216.957125,"end":217.178125},{"word":"contact ","start":217.178125,"end":217.631125},{"word":"our ","start":217.631125,"end":217.817125},{"word":"sales ","start":217.817125,"end":218.130125},{"word":"team ","start":218.130125,"end":218.385125},{"word":"at ","start":218.385125,"end":218.560125},{"word":"+91-9243082408. ","start":218.560125,"end":219.314125},{"word":"Have ","start":223.1110417480469,"end":223.30804174804686},{"word":"a ","start":223.30804174804686,"end":223.36604174804688},{"word":"great ","start":223.36604174804688,"end":223.5870417480469},{"word":"day.","start":223.5870417480469,"end":224.05104174804688}],"metadata":{"response_id":18}}],"knowledge_base_retrieved_contents_url":"https://dxc03zgurdly9.cloudfront.net/51450edc4c86f4d51c7807a809fac033a375df4b4a3251c2cdac1c5025bde82c/knowledge_base_retrieved_contents.json","recording_url":"https://dxc03zgurdly9.cloudfront.net/51450edc4c86f4d51c7807a809fac033a375df4b4a3251c2cdac1c5025bde82c/recording.wav","recording_multi_channel_url":"https://dxc03zgurdly9.cloudfront.net/51450edc4c86f4d51c7807a809fac033a375df4b4a3251c2cdac1c5025bde82c/recording_multichannel.wav","public_log_url":"https://dxc03zgurdly9.cloudfront.net/51450edc4c86f4d51c7807a809fac033a375df4b4a3251c2cdac1c5025bde82c/public.log","disconnection_reason":"user_hangup","latency":{"llm":{"p50":1002,"p90":1397.8,"p95":1665.8999999999994,"p99":2014.7799999999997,"min":554,"max":2102,"num":15,"values":[1074,554,931,717,1002,1051,1048,659,854,1253,1276,952,896,1479,2102]},"e2e":{"p50":1835.5,"p90":2240.5999999999995,"p95":2652.7999999999993,"p99":2982.5600000000004,"min":1297,"max":3065,"num":10,"values":[1881,1486,1297,2149,1805,1479.99609375,2068,1768,1866,3065]},"tts":{"p50":307,"p90":446.4,"p95":460,"p99":471.2,"min":251,"max":474,"num":15,"values":[454,251,262,263,291,297,435,334,387,371,301,366,278,307,474]},"knowledge_base":{"p50":215,"p90":313.2,"p95":317.2,"p99":321.8,"min":63,"max":323,"num":25,"values":[63,102,151,149,165,267,210,91,111,153,242,299,129,179,149,312,215,218,318,314,254,274,241,323,269]},"asr":{"p50":20.000899999999092,"p90":39.99979999999923,"p95":40.00480999999854,"p99":60.60495800000443,"min":0,"max":70.00430000000051,"num":95,"values":[30.000100000000202,10.000149999999849,20,20.000500000000102,9.999499999999898,20.000499999998283,19.999100000000908,40.00000000000364,30.00040000000081,9.998999999996158,20.001399999993737,20,20.00050000000192,9.998999999996158,10.001500000005763,30.002300000000105,30.00100000000384,39.99949999999808,30.002000000000407,29.999000000003434,9.997600000002421,40,29.99659999999858,9.998999999996158,20.00150000001304,29.998500000001513,30.00100000000384,29.99570000001404,10.00397000000521,10.000299999999697,10.002699999997276,20,20.00239999999758,60.00500000000466,20.001800000012736,10.00397000000521,20.000899999999092,20.00340000000142,10.000299999999697,10.002699999997276,19.99760000000242,0,50.00430000000051,10.009199999985867,20.005999999993946,20.013399999967078,20.01039999999921,10.012999999977183,30,39.986000000004424,19.998200000001816,19.994999999995343,20.011599999997998,30.008499999996275,19.9890000000305,19.991500000003725,19.994000000006054,9.990799999999581,19.99330000000191,29.99820000003092,19.99760000000242,20,9.995699999999488,19.998200000001816,19.994999999995343,19.99760000000242,40.00430000000051,30.00669999999809,40.00920000000042,20.005999999993946,20.007899999967776,19.99499999996624,19.99760000000242,20,30.00239999999758,40.00179999996908,70.00430000000051,40.00370000000112,40.005999999993946,29.996999999973923,29.9993999999715,29.99629999996978,19.998999999981606,19.996340000012424,29.99330000000191,9.995699999999488,29.99270000003162,29.99760000000242,30,30.001799999998184,20,29.999400000000605,9.996299999998882,19.99900000001071,19.997999999992317]}},"metadata":{},"call_cost":{"product_costs":[{"product":"elevenlabs_tts","unit_price":0.1166667,"cost":26.7166667},{"product":"gpt_5_1","unit_price":0.0666667,"cost":15.2666667},{"product":"knowledge_base_usage","unit_price":0.0083333,"cost":1.9083333}],"total_duration_seconds":229,"total_duration_unit_price":0.1916667,"combined_cost":43.8916667},"data_storage_setting":"everything","opt_in_signed_url":false,"llm_token_usage":{"values":[1451,1454,1495,1501,2617,2514,2311,2395,2496,2831,2894,2969,3200,3206,3222,3345,3682,3712,3728,3902],"average":2746.25,"num_requests":20},"tool_calls":[{"tool_call_id":"106606ed7514263b","name":"check_availability_cal","type":"check_availability_cal","start_time_sec":91.109,"latency_ms":593.0000000000035,"success":false},{"tool_call_id":"18f5bb2cadd4b931","name":"book_appointment_cal","type":"book_appointment_cal","start_time_sec":193.992,"latency_ms":3651.0000000000105,"success":false}],"from_number":"+18049069120","to_number":"+918349811767","direction":"outbound","telephony_identifier":{"twilio_call_sid":"CA05376510431fd6d027dde88afab34649"}}},"webhookUrl":"https://workflows.wangoes.com/webhook/appointment-booking","executionMode":"production"}}]},"versionId":"03dde631-5e8e-4b8c-960d-b8e67786cb1d","versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T07:54:22.105Z","createdAt":"2025-12-23T07:54:22.105Z","role":"workflow:owner","workflowId":"1eTyrzHSNEd4RsnS","projectId":"9ZLXGFMqYY5Qh0dZ","project":{"updatedAt":"2025-04-30T06:24:01.804Z","createdAt":"2025-04-28T07:43:19.369Z","id":"9ZLXGFMqYY5Qh0dZ","name":"HR  Wangoes <hr@wangoes.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-28T07:43:19.369Z","createdAt":"2025-04-28T07:43:19.369Z","userId":"e2104790-a2ce-47aa-bd6b-0032b4745bdc","projectId":"9ZLXGFMqYY5Qh0dZ","user":{"updatedAt":"2025-12-26T05:02:02.265Z","createdAt":"2025-04-28T07:43:18.347Z","id":"e2104790-a2ce-47aa-bd6b-0032b4745bdc","email":"hr@wangoes.com","firstName":"HR ","lastName":"Wangoes","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-30T06:24:42.857Z","personalization_survey_n8n_version":"1.89.2","automationGoalDevops":["other"],"companySize":"20-99","companyType":"saas","role":"it","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"7WLPoXeVuA2eoJxG","userActivatedAt":1746162680417,"npsSurvey":{"responded":true,"lastShownAt":1763531583744},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[]}