main-clone-bot-HYdjoYdOUVwq7FeO.json
{"updatedAt":"2025-12-23T10:26:32.444Z","createdAt":"2025-12-23T10:26:32.444Z","id":"HYdjoYdOUVwq7FeO","name":"main clone bot","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"https://lovable.dev/projects/8f992824-5ca5-4076-9a7e-b46a1d771e37 \n\nAI chat bot UI link ","height":260,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"9f957055-29fd-4efe-9808-071fda0de4b0","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"in-chat-ai","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-928,208],"id":"7219325b-1660-4430-a8fc-a21c92411f2e","name":"Webhook1","webhookId":"acea39f6-e003-46e0-a5a8-b715bf359545"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"=You are a smart e-commerce assistant connected to two Google Sheet tools it must genrate the responses:\n\n1. Google Sheets product Details tool → contains products with columns: product_id, product_name, product_description, price, product_review, Product_image, payment link.\n\n2. Googler sheet Order Sheet tool→ used to store orders with columns: user_email, user_address, order_id, product_id, customer_name, contact_number, Qty, order_status, active payment link\n\n\nYour main function:\n- When a user describes a product (e.g., “I want earbuds under 1500”), you must call the Google Sheets product Details tool to search for products that match their query.\n\n  - Always use the Google Sheets product Details tool when searching for items — never just respond with “I received your message.”\n\n  - If the user specifies a price limit, filter products whose price ≤ that amount.\n\n  - If the user gives no price, show a few best-matching items.\n\n- Present results clearly: product name, short description, and price.\n\n- If the user confirms purchase, then ask for their name, contact number, address & quantity of the product.\n\n- Once they give the details send the details like name of the product, description, price and the quantity of the product ask the confirmation with all the details\n\n-after he confirms provide him payment link of that product from  Google Sheets product Details tool\n\n\nStrictly Give me the proper output if user select any product in below formate\n\n<div class=\"product-card\" style=\"width: 320px; border: 1px solid #ddd; border-radius: 12px; padding: 16px; font-family: sans-serif; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n    <div class=\"product-card\" style=\"width: 320px; border: 1px solid #ddd; border-radius: 12px; padding: 16px; font-family: sans-serif; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n    <!-- Product Image -->\n    <img src=\"\" alt=\"{product Name}\" style=\"width:100%; border-radius:10px; margin-bottom:12px;\">\n\n    <!-- Product Name -->\n    <h2 style=\"font-size:18px; margin:0 0 8px 0;\">{product Name}</h2>\n\n    <!-- Description -->\n    <p style=\"font-size:14px; color:#555; margin-bottom:12px;\">\n        {product_description}\n    </p>\n\n    <!-- Price -->\n    <strong style=\"font-size:18px; display:block; margin-bottom:16px;\">\n        ₹ {Price}\n    </strong>\n\n    <!-- Buy Button (Same Tab Redirect) -->\n    <button onclick=\"window.location.href='{payment link}'\"\n        style=\"width:100%; text-align:center; background:#007bff; color:#fff; padding:12px; border-radius:8px; border:none; cursor:pointer; font-weight:600;\">\n        Buy Now\n    </button>\n\n</div>\n\nFill these variables {} in html from Google Sheets product Details tool so the values look good.\n\n\nImportant:\n- ALWAYS use your Sheet tools for product lookup and order recording.\n- Never respond with generic acknowledgments like “I received your message.”\n- If the Sheet has no matching products, reply: “I couldn’t find any earbuds under 1500. Would you like to see similar ones?”\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-656,208],"id":"90e21dd9-d8be-4202-b8c8-25f225e8aeff","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-304,224],"id":"24f4f071-64e6-44b3-bc70-cc3643cfe5a8","name":"Respond to Webhook"},{"parameters":{"model":"openai/gpt-oss-safeguard-20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1056,416],"id":"34cf05d4-34ef-4ca4-9fa9-65d5e51c8149","name":"Groq Chat Model","credentials":{"groqApi":{"id":"elFRmmvAjJm02afJ","name":"Ayushman's Groq account "}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.headers['x-real-ip'] }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-928,416],"id":"7a4e8186-439b-46d7-b45f-bf2eba24594b","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1r_QbZT2U-_6ixAkhdGEWwEt3IvNvtR4wS98eAkUdMu4","mode":"list","cachedResultName":"products (ACP)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1r_QbZT2U-_6ixAkhdGEWwEt3IvNvtR4wS98eAkUdMu4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1r_QbZT2U-_6ixAkhdGEWwEt3IvNvtR4wS98eAkUdMu4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-800,416],"id":"b1abddf2-c0a8-4db8-86b0-76c1df69f9df","name":"Google Sheets product Details","credentials":{"googleSheetsOAuth2Api":{"id":"nZHplNtmclaek6SC","name":"Ayushman's Credentials"}}},{"parameters":{"documentId":{"__rl":true,"value":"18HAS1RyJ-pPoYEhYREtVNXZ1R1wsTumnqsTNUMzy2wc","mode":"list","cachedResultName":"after order detils ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18HAS1RyJ-pPoYEhYREtVNXZ1R1wsTumnqsTNUMzy2wc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18HAS1RyJ-pPoYEhYREtVNXZ1R1wsTumnqsTNUMzy2wc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-640,416],"id":"456c419e-91a8-4173-8d71-5429d688589e","name":"Google sheet Order sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nZHplNtmclaek6SC","name":"Ayushman's Credentials"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1r_QbZT2U-_6ixAkhdGEWwEt3IvNvtR4wS98eAkUdMu4","mode":"list","cachedResultName":"Products Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1r_QbZT2U-_6ixAkhdGEWwEt3IvNvtR4wS98eAkUdMu4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":354063573,"mode":"list","cachedResultName":"SessionId","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1r_QbZT2U-_6ixAkhdGEWwEt3IvNvtR4wS98eAkUdMu4/edit#gid=354063573"},"columns":{"mappingMode":"defineBelow","value":{"SessionId":"={{ $('Webhook1').item.json.body.session_id }}","row_number":"2"},"matchingColumns":["row_number"],"schema":[{"id":"SessionId","displayName":"SessionId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-144,224],"id":"dff25f64-4de3-4b06-addf-09e8b8ddad43","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"nZHplNtmclaek6SC","name":"Ayushman's Credentials"}}}],"connections":{"Webhook1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheets product Details":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google sheet Order sheet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"workflows.wangoes.com","x-real-ip":"27.60.10.249","x-forwarded-for":"27.60.10.249","x-forwarded-proto":"https","connection":"upgrade","content-length":"67","sec-ch-ua-platform":"\"Linux\"","user-agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36","sec-ch-ua":"\"Chromium\";v=\"142\", \"Brave\";v=\"142\", \"Not_A Brand\";v=\"99\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","sec-gpc":"1","accept-language":"en-US,en;q=0.5","origin":"https://b449fddf-87f1-45eb-8f28-e0a217d8e122.lovableproject.com","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"https://b449fddf-87f1-45eb-8f28-e0a217d8e122.lovableproject.com/","accept-encoding":"gzip, deflate, br, zstd"},"params":{},"query":{},"body":{"message":"hellow","session_id":"session_1763019343713_yalzyitw7"},"webhookUrl":"https://workflows.wangoes.com/webhook/in-chat-ai","executionMode":"production"}}]},"versionId":"dcff366d-cfb3-4e32-8a9a-16bcdf6c398f","versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T10:26:32.444Z","createdAt":"2025-12-23T10:26:32.444Z","role":"workflow:owner","workflowId":"HYdjoYdOUVwq7FeO","projectId":"9ZLXGFMqYY5Qh0dZ","project":{"updatedAt":"2025-04-30T06:24:01.804Z","createdAt":"2025-04-28T07:43:19.369Z","id":"9ZLXGFMqYY5Qh0dZ","name":"HR  Wangoes <hr@wangoes.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-28T07:43:19.369Z","createdAt":"2025-04-28T07:43:19.369Z","userId":"e2104790-a2ce-47aa-bd6b-0032b4745bdc","projectId":"9ZLXGFMqYY5Qh0dZ","user":{"updatedAt":"2025-12-23T05:00:00.855Z","createdAt":"2025-04-28T07:43:18.347Z","id":"e2104790-a2ce-47aa-bd6b-0032b4745bdc","email":"hr@wangoes.com","firstName":"HR ","lastName":"Wangoes","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-30T06:24:42.857Z","personalization_survey_n8n_version":"1.89.2","automationGoalDevops":["other"],"companySize":"20-99","companyType":"saas","role":"it","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"7WLPoXeVuA2eoJxG","userActivatedAt":1746162680417,"npsSurvey":{"responded":true,"lastShownAt":1763531583744},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-23","isPending":false}}]}}],"tags":[]}